node_red_code/mainFlow.json
[{"id":"ebc59993.22f828","type":"tab","label":"InformationRecieve","disabled":false,"info":"This flow read information from the sensor node.\n\nThe information is recieved in different topics as follows:\n\n- Sensor recieves the information from DH11 and the light sensor.\n- Device recieves the information from the board and the wifi module.\n- Status recieves the retained message with the state of the node (online/offline)."},{"id":"fb735663.fd4db","type":"tab","label":"Information clasification","disabled":false,"info":""},{"id":"f84b4ccb.962dc","type":"tab","label":"InformationStorage","disabled":false,"info":"This flow storages the info recieved by the\ndifferent sensors in mongoDB."},{"id":"918ee82d.94335","type":"tab","label":"InformationConsult","disabled":false,"info":"This allows to consult the mongoDB database using\na User Interface for different functionalities."},{"id":"a7824357.21f008","type":"tab","label":"ConfigDevice","disabled":false,"info":""},{"id":"8e5575a3.f9c27","type":"tab","label":"Information download","disabled":false,"info":""},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"","broker":"172.16.53.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afb9672f.6b30b8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ESP8256","name":""},{"id":"9ff1b7a4.59f73","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Group G","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":35,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65944896.b21948","type":"mqtt-broker","z":"","name":"","broker":"172.16.53.48","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b71058f.09c5c","type":"ui_group","z":"","name":"Datos","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d265fb2b.299198","type":"ui_group","z":"","name":"Sensor","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39f2632.359de1c","type":"ui_group","z":"","name":"Relé","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"9c9f7bbe.944cc8","type":"ui_group","z":"","name":"Dispositivo","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6def83b.5a9cf7c","type":"ui_group","z":"","name":"Gráfica","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c99e96e6.5a8ff","type":"ui_group","z":"","name":"MongoDB","tab":"","disp":true,"width":"6","collapse":false},{"id":"5c5d5e36.17e448","type":"ui_group","z":"","name":"Sensor","tab":"66b51c80.afc764","order":1,"disp":true,"width":"16","collapse":false},{"id":"38fd0f0b.c4cd5","type":"ui_group","z":"","name":"WiFi module","tab":"66b51c80.afc764","order":3,"disp":true,"width":"6","collapse":false},{"id":"348ee47f.b26b7c","type":"ui_group","z":"","name":"Board","tab":"66b51c80.afc764","order":2,"disp":true,"width":"6","collapse":false},{"id":"66b51c80.afc764","type":"ui_tab","z":"","name":"Home","icon":"fa-thermometer","order":1,"disabled":false,"hidden":false},{"id":"91ab7ca5.f8f52","type":"ui_group","z":"","name":"Database","tab":"86373da3.424be","order":4,"disp":true,"width":"16","collapse":false},{"id":"bd586aaa.9c12","type":"ui_tab","z":"","name":"Config","icon":"fa-cogs","order":2,"disabled":false,"hidden":false},{"id":"c34b33a6.dc5d5","type":"ui_group","z":"","name":"FOTA","tab":"bd586aaa.9c12","order":1,"disp":true,"width":"6","collapse":false},{"id":"cce2a60a.3e97b8","type":"ui_group","z":"","name":"Deep Sleep","tab":"bd586aaa.9c12","order":2,"disp":true,"width":"6","collapse":false},{"id":"2a0ba5bc.7c6fd2","type":"ui_group","z":"","name":"Manual time","tab":"bd586aaa.9c12","order":3,"disp":true,"width":"6","collapse":false},{"id":"4b51aa6.812a1d4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e72be4.ee1c242","type":"ui_group","z":"","name":"ERRORES","tab":"","order":2,"disp":true,"width":"12"},{"id":"b35e46c0.0c6cd8","type":"ui_group","z":"","name":"CORRECTO","tab":"","order":1,"disp":true,"width":"12"},{"id":"213b8c00.cf0804","type":"ui_group","z":"","name":"NTP Server","tab":"bd586aaa.9c12","order":4,"disp":true,"width":"6","collapse":false},{"id":"77c16a7d.055f04","type":"ui_group","z":"","name":"Synchronise time mode","tab":"bd586aaa.9c12","order":5,"disp":true,"width":"6","collapse":false},{"id":"86373da3.424be","type":"ui_tab","z":"","name":"Database","icon":"fa-database","order":3,"disabled":false,"hidden":false},{"id":"df1546cd.684f28","type":"ui_group","z":"","name":"Historial variables atmosféricas","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"d4b877ea.e86de","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"huerta","name":""},{"id":"46396fac.baa6a","type":"mqtt in","z":"ebc59993.22f828","name":"","topic":"GRUPOG/1458208/status","qos":"2","broker":"fc5c9554.5f0878","x":254,"y":183,"wires":[["189c1ac8.35f54d"]]},{"id":"c720d7b0.3339f8","type":"mqtt in","z":"ebc59993.22f828","name":"","topic":"GRUPOG/1458208/sensor","qos":"2","broker":"fc5c9554.5f0878","x":267,"y":274,"wires":[["3705564e.7aa0d2"]]},{"id":"3705564e.7aa0d2","type":"json","z":"ebc59993.22f828","name":"","property":"payload","action":"","pretty":false,"x":507,"y":276,"wires":[["ba3c2327.9d824"]]},{"id":"189c1ac8.35f54d","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":6,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":517,"y":184,"wires":[]},{"id":"c281f5ea.b13db8","type":"mongodb out","z":"f84b4ccb.962dc","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","payonly":true,"upsert":false,"multi":false,"operation":"store","x":740,"y":300,"wires":[]},{"id":"354dba72.e70006","type":"ui_button","z":"918ee82d.94335","name":"","group":"91ab7ca5.f8f52","order":7,"width":"0","height":"0","passthru":true,"label":"Actualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":860,"y":320,"wires":[["a7171934.e46c48"]]},{"id":"5e503af5.8cbb14","type":"mongodb in","z":"918ee82d.94335","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","operation":"find","x":980,"y":440,"wires":[["cf05f50e.3c8a08"]]},{"id":"e2d3539e.9269d","type":"ui_template","z":"918ee82d.94335","group":"91ab7ca5.f8f52","name":"Register","order":8,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":840,"wires":[[]]},{"id":"8919bd0.5c4e24","type":"template","z":"918ee82d.94335","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h1>Registros: </h1>\n <ul>\n{{#payload}}\n  <li>{{header.Board.data.timestamp}} : {{body.DH11.temperature}}ºC, {{body.DH11.humidity}}%, A0:{{body.LightSensor.light}}  </li>\n{{/payload}}\n </ul>","output":"str","x":620,"y":840,"wires":[["e2d3539e.9269d"]]},{"id":"357f9d76.0dddaa","type":"function","z":"918ee82d.94335","name":"Generar Datos Temp Hum","func":"var arraytemp=[];\nvar arrayhum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraytemp.push({x:msg.payload[i].header ,y: msg.payload[i].body.DHT11.temperature});\n        arrayhum.push({x:msg.payload[i].header ,y: msg.payload[i].body.DHT11.humidity});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Temperatura\",\"Humedad\"],\n        \"data\":[arraytemp, arrayhum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":485,"y":937,"wires":[["385efac9.7bed26"]]},{"id":"385efac9.7bed26","type":"ui_chart","z":"918ee82d.94335","name":"","group":"91ab7ca5.f8f52","order":9,"width":"0","height":"0","label":"Histórico Temp Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":765,"y":937,"wires":[[],[]]},{"id":"c5d74bc0.be442","type":"function","z":"918ee82d.94335","name":"Generar Datos Lum","func":"var arraylum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraylum.push({x:msg.payload[i].header ,y: msg.payload[i].body.LightSensor.light});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\nmsg.payload = [{\n        \"series\":[\"Luminosidad\"],\n        \"data\":[arraylum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":465,"y":1037,"wires":[["a18544fb.33f8d8"]]},{"id":"a18544fb.33f8d8","type":"ui_chart","z":"918ee82d.94335","name":"","group":"91ab7ca5.f8f52","order":13,"width":"0","height":"0","label":"Histórico Lum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":745,"y":1037,"wires":[[],[]]},{"id":"bb8ecf20.d96138","type":"function","z":"918ee82d.94335","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.DHT11.temperature;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":465,"y":1157,"wires":[["9af994bf.07cf6","3ee637b.a965648","83a2e3e.199902"]]},{"id":"9af994bf.07cf6","type":"ui_text","z":"918ee82d.94335","group":"91ab7ca5.f8f52","order":12,"width":"0","height":"0","name":"","label":"Temperatura Min","format":"{{msg.payload.min}}","layout":"row-spread","x":755,"y":1117,"wires":[]},{"id":"3ee637b.a965648","type":"ui_text","z":"918ee82d.94335","group":"91ab7ca5.f8f52","order":10,"width":"0","height":"0","name":"","label":"Temperatura Max","format":"{{msg.payload.max}}","layout":"row-spread","x":755,"y":1157,"wires":[]},{"id":"83a2e3e.199902","type":"ui_text","z":"918ee82d.94335","group":"91ab7ca5.f8f52","order":11,"width":"0","height":"0","name":"","label":"Temperaura Med","format":"{{msg.payload.med}}","layout":"row-spread","x":755,"y":1197,"wires":[]},{"id":"3a3fdba1.0074c4","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":304,"y":1504,"wires":[["12244359.d30fa5"]]},{"id":"12244359.d30fa5","type":"mongodb out","z":"918ee82d.94335","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":591,"y":1503,"wires":[]},{"id":"a1f51d4.ccb406","type":"ui_numeric","z":"918ee82d.94335","name":"","label":"Number of messages","tooltip":"","group":"91ab7ca5.f8f52","order":1,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1000","step":1,"x":340,"y":100,"wires":[["bb90412a.9462e"]]},{"id":"a7171934.e46c48","type":"change","z":"918ee82d.94335","name":"Limit and Sort","rules":[{"t":"set","p":"limit","pt":"msg","to":"msgLimit","tot":"global"},{"t":"set","p":"sort","pt":"msg","to":"msgSortMode","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"msgSortTime","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[["5e503af5.8cbb14"]]},{"id":"4c56541a.1be474","type":"ui_dropdown","z":"918ee82d.94335","name":"","label":"Sort mode","tooltip":"","place":"Select sort mode","group":"91ab7ca5.f8f52","order":6,"width":"0","height":"0","passthru":true,"options":[{"label":"Ascending","value":"{\"header\":1}","type":"str"},{"label":"Descending","value":"{\"header\":-1}","type":"str"}],"payload":"","topic":"","x":270,"y":220,"wires":[["ff0ff29a.c5b788"]]},{"id":"bb90412a.9462e","type":"change","z":"918ee82d.94335","name":"SetLimitDB","rules":[{"t":"set","p":"msgLimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["354dba72.e70006"]]},{"id":"aae89d21.669988","type":"change","z":"918ee82d.94335","name":"SetSortModeDB","rules":[{"t":"set","p":"msgSortMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["354dba72.e70006"]]},{"id":"80622d1c.ec462","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["bb90412a.9462e","a1f51d4.ccb406"]]},{"id":"a1f0b0d2.f0b","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"{\"header\":1}","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["4c56541a.1be474","ff0ff29a.c5b788"]]},{"id":"4d92b02c.23d8d","type":"ui_dropdown","z":"918ee82d.94335","name":"","label":"Time frame selection","tooltip":"","place":"Select time frame","group":"91ab7ca5.f8f52","order":5,"width":"0","height":"0","passthru":true,"options":[{"label":"Day","value":"day","type":"str"},{"label":"Week","value":"week","type":"str"},{"label":"Month","value":"month","type":"str"},{"label":"Year","value":"year","type":"str"}],"payload":"","topic":"","x":293,"y":361,"wires":[["5d3f6a95.446054"]]},{"id":"70356efd.072ef8","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"week","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":84,"y":448,"wires":[["4d92b02c.23d8d","5d3f6a95.446054"]]},{"id":"c246dc7d.7bb6b","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":500,"wires":[["354dba72.e70006"]]},{"id":"ff0ff29a.c5b788","type":"json","z":"918ee82d.94335","name":"","property":"payload","action":"","pretty":false,"x":450,"y":280,"wires":[["aae89d21.669988"]]},{"id":"5d3f6a95.446054","type":"function","z":"918ee82d.94335","name":"SetSortTime","func":"timestamp = new Date()\nif (msg.payload === \"day\") {\n    global.set('frame', timestamp - 86400)\n} else if (msg.payload === \"week\") {\n    global.set('frame',timestamp - 604800)\n} else if (msg.payload === \"month\") {\n     global.set('frame',timestamp - 2628000)\n} else if (msg.payload === \"year\") {\n     global.set('frame',timestamp - 31535965.4396976)\n} else {\n    time=0\n}\nif (global.get('sortMode') === 0){\n    global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('frame')}})\n}\n\nreturn {};","outputs":1,"noerr":0,"x":509,"y":434,"wires":[["354dba72.e70006"]]},{"id":"910f5994.5203d8","type":"function","z":"f84b4ccb.962dc","name":"Convert timestamp","func":"//Convert the timestamp to a integer\n//to extract it from MongoDB.\ntimestamp = Date.parse(msg.payload.header.Board.data.timestamp)\nmsg.payload.header.Board.data.timestamp = timestamp\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["c281f5ea.b13db8"]]},{"id":"8f15fd3a.e54dd8","type":"mqtt out","z":"a7824357.21f008","name":"","topic":"GRUPOG/1458208/reboots_fota","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":922.5,"y":247,"wires":[]},{"id":"a0181df7.98cff","type":"mqtt out","z":"a7824357.21f008","name":"","topic":"GRUPOG/1458208/deep_sleep","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":926.5,"y":174,"wires":[]},{"id":"34527051.a9cb1","type":"mqtt out","z":"a7824357.21f008","name":"","topic":"GRUPOG/1458208/manual_date_time","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1013.5,"y":431,"wires":[]},{"id":"c639344b.99bfb8","type":"ui_numeric","z":"a7824357.21f008","name":"","label":"Reboots until FOTA","tooltip":"","group":"c34b33a6.dc5d5","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1000","step":1,"x":471.5,"y":245,"wires":[["8f15fd3a.e54dd8"]]},{"id":"a46d910d.4f1308","type":"ui_numeric","z":"a7824357.21f008","name":"","label":"Deep sleep time","tooltip":"","group":"cce2a60a.3e97b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"100","step":1,"x":459.5,"y":176,"wires":[["a0181df7.98cff"]]},{"id":"6e31087b.2ef76","type":"inject","z":"a7824357.21f008","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":253.5,"y":245,"wires":[["c639344b.99bfb8"]]},{"id":"c5a5aba1.f93e78","type":"inject","z":"a7824357.21f008","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":249,"y":183,"wires":[["a46d910d.4f1308"]]},{"id":"b2178cf5.2b1c3","type":"ui_text_input","z":"a7824357.21f008","name":"","label":"Manual time","tooltip":"","group":"2a0ba5bc.7c6fd2","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":202.5,"y":439,"wires":[["bd10f924.80b9e"]]},{"id":"bd10f924.80b9e","type":"switch","z":"a7824357.21f008","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\\\\.[0-9]+)?(\\+\\d\\d:\\d\\d)?$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":462.5,"y":438,"wires":[["4b938f7e.c77488"],["5fad7554.84d6fc"]]},{"id":"5fad7554.84d6fc","type":"change","z":"a7824357.21f008","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2016-04-06T10:10:09+00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":467.5,"y":496,"wires":[["b2178cf5.2b1c3"]]},{"id":"4bc7f712.c4642","type":"mqtt out","z":"a7824357.21f008","name":"","topic":"GRUPOG/1458208/check_date_time","qos":"1","retain":"false","broker":"fc5c9554.5f0878","x":926,"y":548,"wires":[]},{"id":"92bacb75.d53f5","type":"mqtt out","z":"a7824357.21f008","name":"","topic":"GRUPOG/1458208/ntp_date_time","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1002,"y":644,"wires":[]},{"id":"b489596c.bfa358","type":"ui_button","z":"a7824357.21f008","name":"","group":"213b8c00.cf0804","order":1,"width":"0","height":"0","passthru":false,"label":"Synchronise time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":321.5,"y":552,"wires":[["4bc7f712.c4642"]]},{"id":"ba3c2327.9d824","type":"link out","z":"ebc59993.22f828","name":"","links":["5b557f02.2c719","50d5c545.2b3f8c","6392ac71.f1a05c","cd2666a2.e4f1e","a20ca3db.4a08b","e2f63ef9.b63c3","1a9e4047.85b52","b2503d09.07c288","baa9fdc.980bd8"],"x":671.5,"y":276,"wires":[]},{"id":"5b557f02.2c719","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":1840,"wires":[["81152892.42a1e8","2bb056e0.c160f2"]]},{"id":"d18c043f.728f1","type":"change","z":"fb735663.fd4db","name":"Extract ap","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.ap","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1440,"wires":[["62514519.45402c"]]},{"id":"81152892.42a1e8","type":"change","z":"fb735663.fd4db","name":"Extract ssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.conf.ssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1800,"wires":[["e769725b.07bfb"]]},{"id":"8f130b07.d895a","type":"change","z":"fb735663.fd4db","name":"Extract ip","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1600,"wires":[["d54f66ef.8d09c"]]},{"id":"d4051da7.693518","type":"change","z":"fb735663.fd4db","name":"Extract rssi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.rssi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1680,"wires":[["da87129.fde82f"]]},{"id":"cb7b330f.1f27","type":"change","z":"fb735663.fd4db","name":"Extract bssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.bssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1520,"wires":[["c0618f49.140938"]]},{"id":"2bb056e0.c160f2","type":"change","z":"fb735663.fd4db","name":"Extract mqtt_server","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.conf.mqtt_server","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1880,"wires":[["b9fc51ff.d8ea58"]]},{"id":"e769725b.07bfb","type":"ui_text","z":"fb735663.fd4db","group":"38fd0f0b.c4cd5","order":1,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1800,"wires":[]},{"id":"da87129.fde82f","type":"ui_text","z":"fb735663.fd4db","group":"38fd0f0b.c4cd5","order":2,"width":0,"height":0,"name":"","label":"RSSI","format":"{{msg.payload}} mdB","layout":"row-spread","x":670,"y":1680,"wires":[]},{"id":"62514519.45402c","type":"ui_text","z":"fb735663.fd4db","group":"38fd0f0b.c4cd5","order":3,"width":0,"height":0,"name":"","label":"AP","format":"{{value}} ","layout":"row-spread","x":670,"y":1440,"wires":[]},{"id":"c0618f49.140938","type":"ui_text","z":"fb735663.fd4db","group":"348ee47f.b26b7c","order":2,"width":0,"height":0,"name":"","label":"BSSID","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":1520,"wires":[]},{"id":"d54f66ef.8d09c","type":"ui_text","z":"fb735663.fd4db","group":"38fd0f0b.c4cd5","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1600,"wires":[]},{"id":"b9fc51ff.d8ea58","type":"ui_text","z":"fb735663.fd4db","group":"38fd0f0b.c4cd5","order":5,"width":0,"height":0,"name":"","label":"MQTT server","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1880,"wires":[]},{"id":"50d5c545.2b3f8c","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":1560,"wires":[["d18c043f.728f1","cb7b330f.1f27","8f130b07.d895a","d4051da7.693518"]]},{"id":"cbe387be.268fd","type":"change","z":"fb735663.fd4db","name":"Extract uptime","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.data.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1220,"wires":[["1d508816.2ae848"]]},{"id":"9d427b8f.2088c","type":"change","z":"fb735663.fd4db","name":"Extract chipID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.data.chip_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1280,"wires":[["ec0d8b87.0f6b3"]]},{"id":"b22e2fe8.5fc21","type":"change","z":"fb735663.fd4db","name":"Extract deep_sleep_time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.conf.deep_sleep_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["2cc520eb.fdaf48"]]},{"id":"ec0d8b87.0f6b3","type":"ui_text","z":"fb735663.fd4db","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"chipID","format":"{{value}}","layout":"row-spread","x":730,"y":1280,"wires":[]},{"id":"2cc520eb.fdaf48","type":"ui_text","z":"fb735663.fd4db","group":"348ee47f.b26b7c","order":5,"width":0,"height":0,"name":"","label":"Deep Sleep Time","format":"{{value}} min","layout":"row-spread","x":770,"y":1340,"wires":[]},{"id":"1d508816.2ae848","type":"ui_text","z":"fb735663.fd4db","group":"5c5d5e36.17e448","order":1,"width":0,"height":0,"name":"","label":"Last message recieve","format":"{{value}} ","layout":"row-spread","x":780,"y":1220,"wires":[]},{"id":"6392ac71.f1a05c","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":1280,"wires":[["cbe387be.268fd","9d427b8f.2088c","b22e2fe8.5fc21"]]},{"id":"84fdba02.9a43f","type":"ui_text","z":"fb735663.fd4db","group":"5c5d5e36.17e448","order":10,"width":0,"height":0,"name":"","label":"DHT11 state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":540,"wires":[]},{"id":"17fa1bea.2bf7bc","type":"function","z":"fb735663.fd4db","name":"Extract DHT11 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.DHT11.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["84fdba02.9a43f"]]},{"id":"9165917f.2720a8","type":"function","z":"fb735663.fd4db","name":"Extract light sensor state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.LightSensor.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["b00b990f.a697f8"]]},{"id":"b00b990f.a697f8","type":"ui_text","z":"fb735663.fd4db","group":"5c5d5e36.17e448","order":11,"width":0,"height":0,"name":"","label":"Light sensor state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":280,"wires":[]},{"id":"dbf28971.b6a878","type":"ui_text","z":"fb735663.fd4db","group":"5c5d5e36.17e448","order":12,"width":0,"height":0,"name":"","label":"HL69 state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":780,"wires":[]},{"id":"b3067a02.27bd08","type":"function","z":"fb735663.fd4db","name":"Extract HL69 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.HL_69.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":780,"wires":[["dbf28971.b6a878"]]},{"id":"3f162178.48d6f6","type":"ui_text","z":"fb735663.fd4db","group":"5c5d5e36.17e448","order":13,"width":0,"height":0,"name":"","label":"DS18B20 state","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1020,"wires":[]},{"id":"89e6af2b.ed9b88","type":"function","z":"fb735663.fd4db","name":"Extract DS18B20 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.DS18B20.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1020,"wires":[["3f162178.48d6f6"]]},{"id":"b526a171.bfce9","type":"comment","z":"fb735663.fd4db","name":"Board information","info":"Information about the Board (ESP8266) and Wifi Module.","x":480,"y":1120,"wires":[]},{"id":"730f510b.45e46","type":"function","z":"fb735663.fd4db","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1043,"y":618,"wires":[["70b29399.b049bc"]]},{"id":"fdfefeae.5abe9","type":"function","z":"fb735663.fd4db","name":"To_Percentage","func":"msg.payload = Math.round((msg.payload/1850*100))\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["2332a59a.150f22","d7a20b87.262828"]]},{"id":"1694bebd.afd891","type":"change","z":"fb735663.fd4db","name":"Extract DHT11  temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DH11Ttemperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[["730f510b.45e46","ab4437.702cf3c8"]]},{"id":"d4096d98.05c3f","type":"change","z":"fb735663.fd4db","name":"Extract DHT11 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DHT11humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":420,"wires":[["40032a49.c22fcc","7259f05c.239008"]]},{"id":"1f6cedfb.af1ce2","type":"change","z":"fb735663.fd4db","name":"Extract HL69 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.HL_69.ground_humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"HL69humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":700,"wires":[["9715872b.d670f","7259f05c.239008"]]},{"id":"952067b1.cacb58","type":"change","z":"fb735663.fd4db","name":"Extract DS18B20 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DS18B20.ground_temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DS18B20temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":940,"wires":[["627fb13c.421d6","730f510b.45e46"]]},{"id":"70b29399.b049bc","type":"ui_chart","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":7,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1280,"y":620,"wires":[[],[]]},{"id":"c69a5608.4d5b18","type":"change","z":"fb735663.fd4db","name":"Extract luminosity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.LightSensor.light","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"luminosity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["fdfefeae.5abe9"]]},{"id":"2332a59a.150f22","type":"ui_gauge","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":4,"width":"4","height":"4","gtype":"gage","title":"Luminosidad","label":"W/m^2","format":"{{value}}","min":0,"max":"1850","colors":["#808080","#c4c400","#ffff00"],"seg1":"","seg2":"","x":940,"y":200,"wires":[]},{"id":"ab4437.702cf3c8","type":"ui_gauge","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":2,"width":"4","height":"4","gtype":"gage","title":"DHT11 Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#6cf0ff","#ffac11","#ea1e1e"],"seg1":"","seg2":"","x":790,"y":480,"wires":[]},{"id":"40032a49.c22fcc","type":"ui_gauge","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":3,"width":"4","height":"4","gtype":"gage","title":"DHT11 Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d6a956","#438ba3","#114ff0"],"seg1":"","seg2":"","x":780,"y":420,"wires":[]},{"id":"9715872b.d670f","type":"ui_gauge","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":6,"width":"4","height":"4","gtype":"gage","title":"HL69 Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d6a956","#438ba3","#114ff0"],"seg1":"","seg2":"","x":770,"y":700,"wires":[]},{"id":"627fb13c.421d6","type":"ui_gauge","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":5,"width":"4","height":"4","gtype":"gage","title":"DS18B20 Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#6cf0ff","#ffac11","#ea1e1e"],"seg1":"","seg2":"","x":790,"y":940,"wires":[]},{"id":"cd2666a2.e4f1e","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":240,"wires":[["c69a5608.4d5b18","9165917f.2720a8"]]},{"id":"a20ca3db.4a08b","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":480,"wires":[["d4096d98.05c3f","1694bebd.afd891","17fa1bea.2bf7bc"]]},{"id":"e2f63ef9.b63c3","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":740,"wires":[["1f6cedfb.af1ce2","b3067a02.27bd08"]]},{"id":"1a9e4047.85b52","type":"link in","z":"fb735663.fd4db","name":"","links":["ba3c2327.9d824"],"x":295,"y":980,"wires":[["952067b1.cacb58","89e6af2b.ed9b88"]]},{"id":"61ba0dc1.f89b6c","type":"comment","z":"fb735663.fd4db","name":"Sensor information","info":"Information about the sensors connected to the device.","x":473.25,"y":112.75,"wires":[]},{"id":"baa9fdc.980bd8","type":"link in","z":"f84b4ccb.962dc","name":"","links":["ba3c2327.9d824"],"x":295,"y":300,"wires":[["910f5994.5203d8"]]},{"id":"cf05f50e.3c8a08","type":"link out","z":"918ee82d.94335","name":"","links":["ffdf7b68.b8856","72df3cc4.da26fc","69f7cc75.7b616c","c5526327.369798"],"x":1215,"y":440,"wires":[]},{"id":"ffdf7b68.b8856","type":"link in","z":"918ee82d.94335","name":"","links":["cf05f50e.3c8a08"],"x":220,"y":837,"wires":[["8919bd0.5c4e24"]]},{"id":"72df3cc4.da26fc","type":"link in","z":"918ee82d.94335","name":"","links":["cf05f50e.3c8a08"],"x":220,"y":937,"wires":[["357f9d76.0dddaa"]]},{"id":"69f7cc75.7b616c","type":"link in","z":"918ee82d.94335","name":"","links":["cf05f50e.3c8a08"],"x":220,"y":1037,"wires":[["c5d74bc0.be442"]]},{"id":"c5526327.369798","type":"link in","z":"918ee82d.94335","name":"","links":["cf05f50e.3c8a08"],"x":220,"y":1157,"wires":[["bb8ecf20.d96138"]]},{"id":"e1b728dc.23bf8","type":"comment","z":"918ee82d.94335","name":"Cyclic update","info":"","x":502.5,"y":499,"wires":[]},{"id":"fbb44de8.aba79","type":"comment","z":"918ee82d.94335","name":"Manual update","info":"","x":866,"y":282,"wires":[]},{"id":"e443fb3.d36b488","type":"comment","z":"918ee82d.94335","name":"Update info","info":"Every time that a value is changed,\nthe list of information displayed is updated.\n\nThere is also the possibility to update it\nmanually with a the dashboard and a cyclic\nupdate when a new value is added.","x":630,"y":60,"wires":[]},{"id":"3eecfdd8.b762c2","type":"ui_text","z":"fb735663.fd4db","group":"348ee47f.b26b7c","order":5,"width":0,"height":0,"name":"","label":"Reboots until FOTA","format":"{{value}} min","layout":"row-spread","x":779,"y":1391,"wires":[]},{"id":"581e9e40.b3cb48","type":"change","z":"fb735663.fd4db","name":"Extract dreboots until fota","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.conf.reboots_fota","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":1390,"wires":[[]]},{"id":"e4cdebe0.23b148","type":"ui_date_picker","z":"918ee82d.94335","name":"","label":"Min date","group":"91ab7ca5.f8f52","order":3,"width":0,"height":0,"passthru":true,"topic":"/mindate","x":204.5,"y":587,"wires":[["b762201e.75ecf"]]},{"id":"32380e89.1cb5d2","type":"ui_date_picker","z":"918ee82d.94335","name":"","label":"Max date","group":"91ab7ca5.f8f52","order":4,"width":0,"height":0,"passthru":true,"topic":"/maxdate","x":207.5,"y":653,"wires":[["b762201e.75ecf"]]},{"id":"e988faa2.5afad8","type":"ui_switch","z":"918ee82d.94335","name":"","label":"Sort mode (frame/date selector)","tooltip":"","group":"91ab7ca5.f8f52","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":224.5,"y":729,"wires":[["d647d685.cf9ee"]]},{"id":"b762201e.75ecf","type":"function","z":"918ee82d.94335","name":"SetTimeFrame","func":"global.set('mindate',0);\nglobal.set('maxdate',1916344800000 );\nmsg.payload = global.get('sortMode')\nif(msg.topic === \"/mindate\"){\n    global.set('mindate',msg.payload);\n} else if (msg.topic === \"/maxdate\"){\n    global.set('maxdate',msg.payload);\n}\n\nif (global.get('sortMode') === 1){\n    global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('mindate'),$lte:global.get('maxdate')}})\n}\nreturn {};","outputs":1,"noerr":0,"x":464,"y":616,"wires":[["354dba72.e70006"]]},{"id":"d647d685.cf9ee","type":"function","z":"918ee82d.94335","name":"SetSortMode","func":"if (msg.payload === false) {\n  global.set('sortMode',0);\n  global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('frame')}})\n} else if (msg.payload === true) {\n  global.set('sortMode',1);\n  global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('mindate'),$lte:global.get('maxdate')}})\n}\n\nreturn {};","outputs":1,"noerr":0,"x":472,"y":732,"wires":[["354dba72.e70006"]]},{"id":"adf2a0a3.17a0d8","type":"ui_chart","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":8,"width":0,"height":0,"label":"Light chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1181,"y":372,"wires":[[],[]]},{"id":"d7a20b87.262828","type":"function","z":"fb735663.fd4db","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":961,"y":337,"wires":[["adf2a0a3.17a0d8"]]},{"id":"7259f05c.239008","type":"function","z":"fb735663.fd4db","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1045,"y":754,"wires":[["1978ca5d.343566"]]},{"id":"1978ca5d.343566","type":"ui_chart","z":"fb735663.fd4db","name":"","group":"5c5d5e36.17e448","order":9,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#804000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1271,"y":752,"wires":[[],[]]},{"id":"2d95e3ce.ee5a34","type":"function","z":"918ee82d.94335","name":"InitGlobalVariables","func":"global.set('mindate',0);\nglobal.set('maxdate',1916344800000 );\nglobal.set('frame',0 );\nglobal.set('sortMode',0);","outputs":1,"noerr":0,"x":296,"y":503,"wires":[[]]},{"id":"1a39479e.88b798","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":104.5,"y":504,"wires":[["2d95e3ce.ee5a34"]]},{"id":"6e065d82.f80c14","type":"inject","z":"918ee82d.94335","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":61.5,"y":853,"wires":[["e988faa2.5afad8"]]},{"id":"8feb9030.911e48","type":"http response","z":"8e5575a3.f9c27","name":"","statusCode":"","headers":{"Content-Disposition":"attachment; filename=registros.csv"},"x":1585,"y":229,"wires":[]},{"id":"98384b24.46a3b8","type":"function","z":"8e5575a3.f9c27","name":"Unicode mark","func":"//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(flow.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":1386,"y":229,"wires":[["8feb9030.911e48"]]},{"id":"2cb02c.d6276fd4","type":"csv","z":"8e5575a3.f9c27","name":"","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"Fecha, timestamp, chip_id, deep_sleep_time, reboots_fota,ap,bssid,ip,rssi,ssid,mqtt_server,DHT11_temperature,DHT11_humidity,DHT11_state,LightSensor_light,LightSensor_state,HL_69_ground_humidity,HL_69_state,DS18B20_ground_temperature,DS18B20_state,Error_code","skip":0,"x":1099,"y":231,"wires":[["98384b24.46a3b8"]]},{"id":"d8c4b7cb.b80b88","type":"function","z":"8e5575a3.f9c27","name":"Set columns","func":"// recorrer el array en msg.payload\nvar j=0;\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].Fecha=new Date(msg.payload[i].header.Board.data.timestamp).toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n    msg.payload[i].DHT11_temperature= msg.payload[i].body.DHT11.temperature;\n    msg.payload[i].DHT11_humidity= msg.payload[i].body.DHT11.humidity;\n    msg.payload[i].DHT11_state= msg.payload[i].body.DHT11.state;\n    msg.payload[i].LightSensor_light= msg.payload[i].body.LightSensor.light;\n    msg.payload[i].LightSensor_state= msg.payload[i].body.LightSensor.state;\n    msg.payload[i].HL_69_ground_humidity= msg.payload[i].body.HL_69.ground_humidity;\n    msg.payload[i].HL_69_state= msg.payload[i].body.HL_69.state;\n    msg.payload[i].DS18B20_ground_temperature= msg.payload[i].body.DS18B20.ground_temperature;\n    msg.payload[i].DS18B20_state= msg.payload[i].body.DS18B20.state;\n    msg.payload[i].Error_code= msg.payload[i].body.Error_Code;\n    msg.payload[i].timestamp= msg.payload[i].header.Board.data.timestamp;\n    msg.payload[i].chip_id= msg.payload[i].header.Board.data.chip_id;\n    msg.payload[i].deep_sleep_time= msg.payload[i].header.Board.conf.deep_sleep_time;\n    msg.payload[i].reboots_fota= msg.payload[i].header.Board.conf.reboots_fota;\n    msg.payload[i].ap= msg.payload[i].header.WifiModule.data.ap;\n    msg.payload[i].bssid= msg.payload[i].header.WifiModule.data.bssid;\n    msg.payload[i].ip= msg.payload[i].header.WifiModule.data.ip;\n    msg.payload[i].rssi= msg.payload[i].header.WifiModule.data.rssi;\n    msg.payload[i].ssid= msg.payload[i].header.WifiModule.conf.ssid;\n    msg.payload[i].mqtt_server= msg.payload[i].header.WifiModule.conf.mqtt_server;\n   }\nreturn msg;","outputs":1,"noerr":0,"x":834,"y":230,"wires":[["2cb02c.d6276fd4"]]},{"id":"f2398889.ee507","type":"function","z":"8e5575a3.f9c27","name":"limita fechas","func":"msg.payload = global.get('msgSortTime')\n\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":230,"wires":[["23267f48.5fc63"]]},{"id":"10250a6d.c81afe","type":"http in","z":"8e5575a3.f9c27","name":"","url":"/registros","method":"get","upload":false,"swaggerDoc":"","x":85,"y":231,"wires":[["f2398889.ee507"]]},{"id":"7a7e4597.d55b9c","type":"ui_template","z":"8e5575a3.f9c27","group":"91ab7ca5.f8f52","name":"","order":14,"width":"0","height":"0","format":"<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":140,"wires":[[]]},{"id":"23267f48.5fc63","type":"mongodb in","z":"8e5575a3.f9c27","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","operation":"find","x":544,"y":230,"wires":[["d8c4b7cb.b80b88"]]},{"id":"2370a64d.d35be2","type":"ui_dropdown","z":"a7824357.21f008","name":"","label":"","tooltip":"","place":"Check time mode","group":"2a0ba5bc.7c6fd2","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Automatic","value":"1","type":"str"},{"label":"Manual","value":"0","type":"str"}],"payload":"","topic":"","x":327.5,"y":338,"wires":[["23a73983.82170e"]]},{"id":"23a73983.82170e","type":"change","z":"a7824357.21f008","name":"","rules":[{"t":"set","p":"timeCheckMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.5,"y":337,"wires":[[]]},{"id":"4b938f7e.c77488","type":"function","z":"a7824357.21f008","name":"Add time check mode","func":"\nmsg.payload = global.get('timeCheckMode') + ';' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":688.5,"y":433,"wires":[["34527051.a9cb1"]]},{"id":"3df91089.55ac4","type":"function","z":"a7824357.21f008","name":"Add time check mode","func":"\nmsg.payload = global.get('timeCheckMode') + ';' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":647,"wires":[["92bacb75.d53f5"]]},{"id":"f0f02eb9.9aada8","type":"ui_text_input","z":"a7824357.21f008","name":"","label":"NTP Server","tooltip":"","group":"213b8c00.cf0804","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":437,"y":646,"wires":[["3df91089.55ac4"]]},{"id":"2239bd33.9b269a","type":"inject","z":"a7824357.21f008","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":162,"y":339,"wires":[["2370a64d.d35be2"]]}]
