node_red_code/mainFlow.json
[{"id":"c2716312.752a3","type":"tab","label":"InformationRecieve","disabled":false,"info":"This flow read information from the sensor node.\n\nThe information is recieved in different topics as follows:\n\n- Sensor recieves the information from DH11 and the light sensor.\n- Device recieves the information from the board and the wifi module.\n- Status recieves the retained message with the state of the node (online/offline)."},{"id":"fc634951.108918","type":"tab","label":"Information clasification","disabled":false,"info":""},{"id":"c957b689.314308","type":"tab","label":"InformationStorage","disabled":false,"info":"This flow storages the info recieved by the\ndifferent sensors in mongoDB."},{"id":"4e0fe9fe.226978","type":"tab","label":"InformationConsult","disabled":false,"info":"This allows to consult the mongoDB database using\na User Interface for different functionalities."},{"id":"b4b4d838.342718","type":"tab","label":"ConfigDevice","disabled":false,"info":""},{"id":"3e96c2a6.41508e","type":"tab","label":"Information download","disabled":false,"info":""},{"id":"9e398d74.3cf3f","type":"tab","label":"FOTA","disabled":false,"info":""},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afb9672f.6b30b8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"prueba","name":""},{"id":"f1930659.b5a1a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":35,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ffdb4555.1107d8","type":"mqtt-broker","z":"","name":"NodeMCU/tele/SENSOR","broker":"172.16.53.48","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7bef51.7c7b508","type":"ui_group","z":"","name":"Board","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"d8951af4.eb20c8","type":"ui_group","z":"","name":"Sensor","tab":"","order":3,"disp":true,"width":"12","collapse":true},{"id":"3041fc23.bd9844","type":"ui_group","z":"","name":"WiFi module","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"b678aaec.8869f8","type":"mqtt-broker","z":"","name":"","broker":"172.16.53.48","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22b29b17.20ef24","type":"ui_group","z":"","name":"Datos","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c96d6cbb.84c0e","type":"ui_group","z":"","name":"Sensor","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed5e740d.168e78","type":"ui_group","z":"","name":"Relé","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"15d50064.b640e","type":"ui_group","z":"","name":"Dispositivo","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6b1edf27.c08f3","type":"ui_group","z":"","name":"Gráfica","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"147068d6.62a167","type":"ui_group","z":"","name":"MongoDB","tab":"","disp":true,"width":"6","collapse":false},{"id":"21720abd.1793e6","type":"ui_group","z":"","name":"Sensor","tab":"20add451.dae21c","order":1,"disp":true,"width":"16","collapse":false},{"id":"e2470bae.a89f88","type":"ui_group","z":"","name":"WiFi module","tab":"20add451.dae21c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea971c53.5a62a","type":"ui_group","z":"","name":"Board","tab":"20add451.dae21c","order":2,"disp":true,"width":"6","collapse":false},{"id":"20add451.dae21c","type":"ui_tab","z":"","name":"Home","icon":"fa-thermometer","order":1,"disabled":false,"hidden":false},{"id":"5222e930.de6558","type":"ui_group","z":"","name":"Database","tab":"4345afba.712c8","order":4,"disp":true,"width":"16","collapse":false},{"id":"6ced963d.583678","type":"ui_tab","z":"","name":"Config","icon":"fa-cogs","order":2,"disabled":false,"hidden":false},{"id":"7e191882.2ed8c8","type":"ui_group","z":"","name":"FOTA","tab":"6ced963d.583678","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c5cf81e.34a288","type":"ui_group","z":"","name":"Deep Sleep","tab":"6ced963d.583678","order":2,"disp":true,"width":"6","collapse":false},{"id":"857be7ce.f6f0f8","type":"ui_group","z":"","name":"Manual time","tab":"6ced963d.583678","order":3,"disp":true,"width":"6","collapse":false},{"id":"b717be5c.aac2b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9370e77.ad66e18","type":"ui_group","z":"","name":"ERRORES","tab":"","order":2,"disp":true,"width":"12"},{"id":"39e46310.4f33fc","type":"ui_group","z":"","name":"CORRECTO","tab":"","order":1,"disp":true,"width":"12"},{"id":"4345afba.712c8","type":"ui_tab","z":"","name":"Database","icon":"fa-database","order":3,"disabled":false,"hidden":false},{"id":"bc7934a9.071b48","type":"ui_group","z":"","name":"Historial variables atmosféricas","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"4a6b196b.659078","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"huerta","name":""},{"id":"ed56fb2c.595bd8","type":"ui_group","z":"","name":"Time configuration","tab":"6ced963d.583678","order":6,"disp":true,"width":"12","collapse":false},{"id":"f223b408.71a1e8","type":"mqtt in","z":"c2716312.752a3","name":"","topic":"GRUPOG/1458208/status","qos":"2","broker":"fc5c9554.5f0878","x":254,"y":183,"wires":[["c0f42f89.4643f"]]},{"id":"8fd8066f.921618","type":"mqtt in","z":"c2716312.752a3","name":"","topic":"GRUPOG/1458208/sensor","qos":"2","broker":"fc5c9554.5f0878","x":267,"y":274,"wires":[["8bafb7ed.1cc6e8"]]},{"id":"8bafb7ed.1cc6e8","type":"json","z":"c2716312.752a3","name":"","property":"payload","action":"","pretty":false,"x":507,"y":276,"wires":[["d530dfeb.78008"]]},{"id":"c0f42f89.4643f","type":"ui_text","z":"c2716312.752a3","group":"ea971c53.5a62a","order":6,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":517,"y":184,"wires":[]},{"id":"e549e15c.3f6f6","type":"mongodb out","z":"c957b689.314308","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","payonly":true,"upsert":false,"multi":false,"operation":"store","x":740,"y":300,"wires":[]},{"id":"21262c0a.16ba44","type":"ui_button","z":"4e0fe9fe.226978","name":"","group":"5222e930.de6558","order":3,"width":"0","height":"0","passthru":true,"label":"Actualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":860,"y":320,"wires":[["2fb1e637.78daca"]]},{"id":"aff69cd7.8270d","type":"mongodb in","z":"4e0fe9fe.226978","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","operation":"find","x":980,"y":440,"wires":[["9665cfdf.df7a4"]]},{"id":"fe1440e1.8b5ab","type":"ui_template","z":"4e0fe9fe.226978","group":"5222e930.de6558","name":"Register","order":9,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":840,"wires":[[]]},{"id":"4b8e0635.8e5788","type":"template","z":"4e0fe9fe.226978","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h1>Registros: </h1>\n <ul>\n{{#payload}}\n  <li>{{header.Board.data.timestamp}} : DTH11: {{body.DHT11.temperature}}ºC, {{body.DHT11.humidity}}%, A0:{{body.LightSensor.light}}, HL69: {{body.HL_69.ground_humidity}}%, DS18B20: {{body.DS18B20.ground_temperature}}ºC</li>\n{{/payload}}\n </ul>","output":"str","x":620,"y":840,"wires":[["fe1440e1.8b5ab"]]},{"id":"5c635bd4.962c54","type":"function","z":"4e0fe9fe.226978","name":"Generar DHT11","func":"var arraytemp=[];\nvar arrayhum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraytemp.push({x:msg.payload[i].header.Board.data.timestamp ,y: msg.payload[i].body.DHT11.temperature});\n        arrayhum.push({x:msg.payload[i].header.Board.data.timestamp ,y: msg.payload[i].body.DHT11.humidity});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Temperatura\",\"Humedad\"],\n        \"data\":[arraytemp, arrayhum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":440,"y":940,"wires":[["f060c9cf.2adec8"]]},{"id":"f060c9cf.2adec8","type":"ui_chart","z":"4e0fe9fe.226978","name":"","group":"5222e930.de6558","order":10,"width":"0","height":"0","label":"Histórico DHT11","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":940,"wires":[[],[]]},{"id":"a6fcd4d.cda3028","type":"function","z":"4e0fe9fe.226978","name":"Generar Datos Lum","func":"var arraylum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraylum.push({x:msg.payload[i].header.Board.data.timestamp ,y: msg.payload[i].body.LightSensor.light});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\nmsg.payload = [{\n        \"series\":[\"Luminosidad\"],\n        \"data\":[arraylum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":450,"y":1180,"wires":[["63177732.cd05e8"]]},{"id":"63177732.cd05e8","type":"ui_chart","z":"4e0fe9fe.226978","name":"","group":"5222e930.de6558","order":25,"width":"0","height":"0","label":"Histórico Lum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":1180,"wires":[[],[]]},{"id":"d6b6d17f.c6087","type":"function","z":"4e0fe9fe.226978","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.DHT11.temperature;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":460,"y":1300,"wires":[["c785c843.099c38","d4a3c3b0.c9e94","4cc478c0.783158"]]},{"id":"c785c843.099c38","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":11,"width":"0","height":"0","name":"","label":"Temperatura DHT11 Min","format":"{{msg.payload.min}}","layout":"row-spread","x":770,"y":1260,"wires":[]},{"id":"d4a3c3b0.c9e94","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":12,"width":"0","height":"0","name":"","label":"Temperatura DHT11 Max","format":"{{msg.payload.max}}","layout":"row-spread","x":770,"y":1300,"wires":[]},{"id":"4cc478c0.783158","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":13,"width":"0","height":"0","name":"","label":"Temperaura DHT11 Med","format":"{{msg.payload.med}}","layout":"row-spread","x":770,"y":1340,"wires":[]},{"id":"412a0fb3.5ac72","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1013,"y":981,"wires":[["7d2bc8e2.0e4648"]]},{"id":"7d2bc8e2.0e4648","type":"mongodb out","z":"4e0fe9fe.226978","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1300,"y":980,"wires":[]},{"id":"49ce72ec.5588cc","type":"ui_numeric","z":"4e0fe9fe.226978","name":"","label":"Number of messages","tooltip":"","group":"5222e930.de6558","order":1,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1000","step":1,"x":340,"y":100,"wires":[["d79babaa.7de508"]]},{"id":"2fb1e637.78daca","type":"change","z":"4e0fe9fe.226978","name":"Limit and Sort","rules":[{"t":"set","p":"limit","pt":"msg","to":"msgLimit","tot":"global"},{"t":"set","p":"sort","pt":"msg","to":"msgSortMode","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"msgSortTime","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[["aff69cd7.8270d"]]},{"id":"2d008c97.d15664","type":"ui_dropdown","z":"4e0fe9fe.226978","name":"","label":"Sort mode","tooltip":"","place":"Select sort mode","group":"5222e930.de6558","order":2,"width":"0","height":"0","passthru":true,"options":[{"label":"Descending","value":"{\"header\":1}","type":"str"},{"label":"Ascending","value":"{\"header\":-1}","type":"str"}],"payload":"","topic":"","x":270,"y":220,"wires":[["d104cc9c.906ba"]]},{"id":"d79babaa.7de508","type":"change","z":"4e0fe9fe.226978","name":"SetLimitDB","rules":[{"t":"set","p":"msgLimit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["21262c0a.16ba44"]]},{"id":"6d4d9530.40513c","type":"change","z":"4e0fe9fe.226978","name":"SetSortModeDB","rules":[{"t":"set","p":"msgSortMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["21262c0a.16ba44"]]},{"id":"38ec6305.3b157c","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["d79babaa.7de508","49ce72ec.5588cc"]]},{"id":"73aee24c.aace8c","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"{\"header\":1}","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["2d008c97.d15664","d104cc9c.906ba"]]},{"id":"8b637b80.b85b68","type":"ui_dropdown","z":"4e0fe9fe.226978","name":"","label":"Time frame selection","tooltip":"","place":"Select time frame","group":"5222e930.de6558","order":5,"width":"0","height":"0","passthru":true,"options":[{"label":"Day","value":"day","type":"str"},{"label":"Week","value":"week","type":"str"},{"label":"Month","value":"month","type":"str"},{"label":"Year","value":"year","type":"str"}],"payload":"","topic":"","x":293,"y":361,"wires":[["34d7922e.29a38e"]]},{"id":"6c484929.9f10f8","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"week","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":84,"y":448,"wires":[["8b637b80.b85b68","34d7922e.29a38e"]]},{"id":"f37c7228.bae9a","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":500,"wires":[["21262c0a.16ba44"]]},{"id":"d104cc9c.906ba","type":"json","z":"4e0fe9fe.226978","name":"","property":"payload","action":"","pretty":false,"x":450,"y":280,"wires":[["6d4d9530.40513c"]]},{"id":"34d7922e.29a38e","type":"function","z":"4e0fe9fe.226978","name":"SetSortTime","func":"timestamp = new Date()\nif (msg.payload === \"day\") {\n    global.set('frame', timestamp - 86400)\n} else if (msg.payload === \"week\") {\n    global.set('frame',timestamp - 604800)\n} else if (msg.payload === \"month\") {\n     global.set('frame',timestamp - 2628000)\n} else if (msg.payload === \"year\") {\n     global.set('frame',timestamp - 31535965.4396976)\n} else {\n    time=0\n}\nif (global.get('sortMode') === 0){\n    global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('frame')}})\n}\n\nreturn {};","outputs":1,"noerr":0,"x":509,"y":434,"wires":[["21262c0a.16ba44"]]},{"id":"8b034ede.15c1c","type":"function","z":"c957b689.314308","name":"Convert timestamp","func":"//Convert the timestamp to a integer\n//to extract it from MongoDB.\ntimestamp = Date.parse(msg.payload.header.Board.data.timestamp)\nmsg.payload.header.Board.data.timestamp = timestamp\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["e549e15c.3f6f6"]]},{"id":"4d12bbe6.3f5ef4","type":"mqtt out","z":"b4b4d838.342718","name":"","topic":"GRUPOG/1458208/reboots_fota","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1030,"y":260,"wires":[]},{"id":"371e53e2.e86d2c","type":"mqtt out","z":"b4b4d838.342718","name":"","topic":"GRUPOG/1458208/deep_sleep","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1030,"y":180,"wires":[]},{"id":"cbc8e163.bc9ff","type":"mqtt out","z":"b4b4d838.342718","name":"","topic":"GRUPOG/1458208/manual_date_time","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1266,"y":418,"wires":[]},{"id":"519c575b.439aa8","type":"ui_numeric","z":"b4b4d838.342718","name":"","label":"Reboots until FOTA","tooltip":"","group":"7e191882.2ed8c8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1000","step":1,"x":590,"y":260,"wires":[["4d12bbe6.3f5ef4"]]},{"id":"7a175fc1.0d322","type":"ui_numeric","z":"b4b4d838.342718","name":"","label":"Deep sleep time","tooltip":"","group":"1c5cf81e.34a288","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"100","step":1,"x":580,"y":180,"wires":[["371e53e2.e86d2c"]]},{"id":"f6a5d9ba.66e418","type":"inject","z":"b4b4d838.342718","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":370,"y":260,"wires":[["519c575b.439aa8"]]},{"id":"c40bdc91.ae2d3","type":"inject","z":"b4b4d838.342718","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":370,"y":180,"wires":[["7a175fc1.0d322"]]},{"id":"43562ce4.ad0b24","type":"ui_text_input","z":"b4b4d838.342718","name":"","label":"Manual time","tooltip":"","group":"ed56fb2c.595bd8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":506,"y":438,"wires":[["2e3a6953.a17ac6"]]},{"id":"2e3a6953.a17ac6","type":"switch","z":"b4b4d838.342718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\\\\.[0-9]+)?(\\+\\d\\d:\\d\\d)?$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":706,"y":438,"wires":[["af26497e.1585e8"],["f7549734.7a73d8"]]},{"id":"f7549734.7a73d8","type":"change","z":"b4b4d838.342718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2016-04-06T10:10:09+00:00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":498,"wires":[["43562ce4.ad0b24"]]},{"id":"b2105a5.940d8a8","type":"mqtt out","z":"b4b4d838.342718","name":"","topic":"GRUPOG/1458208/check_date_time","qos":"1","retain":"false","broker":"fc5c9554.5f0878","x":1130,"y":580,"wires":[]},{"id":"50681558.eb8bcc","type":"mqtt out","z":"b4b4d838.342718","name":"","topic":"GRUPOG/1458208/ntp_date_time","qos":"1","retain":"true","broker":"fc5c9554.5f0878","x":1240,"y":680,"wires":[]},{"id":"70fe4257.fdffec","type":"ui_button","z":"b4b4d838.342718","name":"","group":"ed56fb2c.595bd8","order":3,"width":"0","height":"0","passthru":true,"label":"Synchronise time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":580,"wires":[["d6b6dc3.1afa02"]]},{"id":"d530dfeb.78008","type":"link out","z":"c2716312.752a3","name":"","links":["f952a8b9.3f7cf8","9716d8cc.498488","54298d90.8a3254","77acd2e0.5985cc","2d0ff191.c2cb8e","bda981ce.57763","c0d162a1.2de3a","b2503d09.07c288","271f5f72.f53db"],"x":671.5,"y":276,"wires":[]},{"id":"f952a8b9.3f7cf8","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":1840,"wires":[["71942923.c447b8","48e1d70c.2fd5a8"]]},{"id":"195c1c6b.639e44","type":"change","z":"fc634951.108918","name":"Extract ap","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.ap","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1440,"wires":[["b264019d.41f45"]]},{"id":"71942923.c447b8","type":"change","z":"fc634951.108918","name":"Extract ssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.conf.ssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1800,"wires":[["fba873f1.63f9"]]},{"id":"24ef9899.2a43b8","type":"change","z":"fc634951.108918","name":"Extract ip","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1600,"wires":[["50ef7da5.cd8694"]]},{"id":"86bb9fa7.f94db","type":"change","z":"fc634951.108918","name":"Extract rssi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.rssi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1680,"wires":[["87b6606a.7783b"]]},{"id":"4be675d4.18614c","type":"change","z":"fc634951.108918","name":"Extract bssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.data.bssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1520,"wires":[["3004060c.7cf66a"]]},{"id":"48e1d70c.2fd5a8","type":"change","z":"fc634951.108918","name":"Extract mqtt_server","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.WifiModule.conf.mqtt_server","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1880,"wires":[["a2099186.23ab"]]},{"id":"fba873f1.63f9","type":"ui_text","z":"fc634951.108918","group":"e2470bae.a89f88","order":1,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1800,"wires":[]},{"id":"87b6606a.7783b","type":"ui_text","z":"fc634951.108918","group":"e2470bae.a89f88","order":2,"width":0,"height":0,"name":"","label":"RSSI","format":"{{msg.payload}} mdB","layout":"row-spread","x":670,"y":1680,"wires":[]},{"id":"b264019d.41f45","type":"ui_text","z":"fc634951.108918","group":"e2470bae.a89f88","order":3,"width":0,"height":0,"name":"","label":"AP","format":"{{value}} ","layout":"row-spread","x":670,"y":1440,"wires":[]},{"id":"3004060c.7cf66a","type":"ui_text","z":"fc634951.108918","group":"ea971c53.5a62a","order":2,"width":0,"height":0,"name":"","label":"BSSID","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":1520,"wires":[]},{"id":"50ef7da5.cd8694","type":"ui_text","z":"fc634951.108918","group":"e2470bae.a89f88","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1600,"wires":[]},{"id":"a2099186.23ab","type":"ui_text","z":"fc634951.108918","group":"e2470bae.a89f88","order":5,"width":0,"height":0,"name":"","label":"MQTT server","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1880,"wires":[]},{"id":"9716d8cc.498488","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":1560,"wires":[["195c1c6b.639e44","4be675d4.18614c","24ef9899.2a43b8","86bb9fa7.f94db"]]},{"id":"3fa5e616.35c5fa","type":"change","z":"fc634951.108918","name":"Extract uptime","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.data.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1220,"wires":[["5605bc00.fd9dc4"]]},{"id":"b45e8c3a.276ed","type":"change","z":"fc634951.108918","name":"Extract chipID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.data.chip_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1280,"wires":[["93ef1368.7c4e5"]]},{"id":"93b99230.f1c2","type":"change","z":"fc634951.108918","name":"Extract deep_sleep_time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.conf.deep_sleep_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["c5c3558b.65e658"]]},{"id":"93ef1368.7c4e5","type":"ui_text","z":"fc634951.108918","group":"ea971c53.5a62a","order":4,"width":0,"height":0,"name":"","label":"chipID","format":"{{value}}","layout":"row-spread","x":730,"y":1280,"wires":[]},{"id":"c5c3558b.65e658","type":"ui_text","z":"fc634951.108918","group":"ea971c53.5a62a","order":5,"width":0,"height":0,"name":"","label":"Deep Sleep Time","format":"{{value}} min","layout":"row-spread","x":770,"y":1340,"wires":[]},{"id":"5605bc00.fd9dc4","type":"ui_text","z":"fc634951.108918","group":"21720abd.1793e6","order":1,"width":0,"height":0,"name":"","label":"Last message recieve","format":"{{value}} ","layout":"row-spread","x":780,"y":1220,"wires":[]},{"id":"54298d90.8a3254","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":1280,"wires":[["3fa5e616.35c5fa","b45e8c3a.276ed","93b99230.f1c2","44bfb1e.2d8c95"]]},{"id":"14491e2d.b61422","type":"ui_text","z":"fc634951.108918","group":"21720abd.1793e6","order":10,"width":0,"height":0,"name":"","label":"DHT11 state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"b63f696.fb26098","type":"function","z":"fc634951.108918","name":"Extract DHT11 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.DHT11.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["14491e2d.b61422"]]},{"id":"9c08b906.a8b398","type":"function","z":"fc634951.108918","name":"Extract light sensor state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.LightSensor.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["cb9048ba.2b0928"]]},{"id":"cb9048ba.2b0928","type":"ui_text","z":"fc634951.108918","group":"21720abd.1793e6","order":11,"width":0,"height":0,"name":"","label":"Light sensor state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":280,"wires":[]},{"id":"93f31189.43a48","type":"ui_text","z":"fc634951.108918","group":"21720abd.1793e6","order":12,"width":0,"height":0,"name":"","label":"HL69 state","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":640,"wires":[]},{"id":"e75a997e.8c7e18","type":"function","z":"fc634951.108918","name":"Extract HL69 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.HL_69.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["93f31189.43a48"]]},{"id":"1213e0ce.6290bf","type":"ui_text","z":"fc634951.108918","group":"21720abd.1793e6","order":13,"width":0,"height":0,"name":"","label":"DS18B20 state","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":800,"wires":[]},{"id":"163b05c7.cdd29a","type":"function","z":"fc634951.108918","name":"Extract DS18B20 state","func":"table = {0: \"Active\",1: \"Disconected\", 2: \"Not calibrated\"}\n\nmsg.payload = table[msg.payload.body.DS18B20.state]\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["1213e0ce.6290bf"]]},{"id":"d95055bb.1814e8","type":"comment","z":"fc634951.108918","name":"Board information","info":"Information about the Board (ESP8266) and Wifi Module.","x":480,"y":1120,"wires":[]},{"id":"aac476cb.b3bde8","type":"function","z":"fc634951.108918","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":960,"y":480,"wires":[["59c141da.b85ab"]]},{"id":"90d62df2.20543","type":"change","z":"fc634951.108918","name":"Extract DHT11  temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DH11Ttemperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["aac476cb.b3bde8","547fff5b.ae33f"]]},{"id":"eb4453fe.caee6","type":"change","z":"fc634951.108918","name":"Extract DHT11 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DHT11humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":360,"wires":[["e98bf85.1a4ed08","19a6101f.ec726"]]},{"id":"13e63ad1.d50c15","type":"change","z":"fc634951.108918","name":"Extract HL69 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.HL_69.ground_humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"HL69humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["8a90fba1.649b18","19a6101f.ec726"]]},{"id":"a72e2cbf.71455","type":"change","z":"fc634951.108918","name":"Extract DS18B20 humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DS18B20.ground_temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"DS18B20temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":720,"wires":[["92d4bc2e.269f9","aac476cb.b3bde8"]]},{"id":"59c141da.b85ab","type":"ui_chart","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":7,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":480,"wires":[[],[]]},{"id":"610d8f40.642ce","type":"change","z":"fc634951.108918","name":"Extract luminosity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.LightSensor.light","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"luminosity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["98f35540.e61c58","b16cb8a7.48ed68"]]},{"id":"98f35540.e61c58","type":"ui_gauge","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":4,"width":"4","height":"4","gtype":"gage","title":"Luminosidad","label":"W/m^2","format":"{{value}}","min":0,"max":"1850","colors":["#808080","#c4c400","#ffff00"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"547fff5b.ae33f","type":"ui_gauge","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":2,"width":"4","height":"4","gtype":"gage","title":"DHT11 Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#6cf0ff","#ffac11","#ea1e1e"],"seg1":"","seg2":"","x":790,"y":420,"wires":[]},{"id":"e98bf85.1a4ed08","type":"ui_gauge","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":3,"width":"4","height":"4","gtype":"gage","title":"DHT11 Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d6a956","#438ba3","#114ff0"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"8a90fba1.649b18","type":"ui_gauge","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":6,"width":"4","height":"4","gtype":"gage","title":"HL69 Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d6a956","#438ba3","#114ff0"],"seg1":"","seg2":"","x":770,"y":560,"wires":[]},{"id":"92d4bc2e.269f9","type":"ui_gauge","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":5,"width":"4","height":"4","gtype":"gage","title":"DS18B20 Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#6cf0ff","#ffac11","#ea1e1e"],"seg1":"","seg2":"","x":790,"y":720,"wires":[]},{"id":"77acd2e0.5985cc","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":240,"wires":[["610d8f40.642ce","9c08b906.a8b398"]]},{"id":"2d0ff191.c2cb8e","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":420,"wires":[["eb4453fe.caee6","90d62df2.20543","b63f696.fb26098"]]},{"id":"bda981ce.57763","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":600,"wires":[["13e63ad1.d50c15","e75a997e.8c7e18"]]},{"id":"c0d162a1.2de3a","type":"link in","z":"fc634951.108918","name":"","links":["d530dfeb.78008"],"x":295,"y":760,"wires":[["a72e2cbf.71455","163b05c7.cdd29a"]]},{"id":"5ec05c48.1242e4","type":"comment","z":"fc634951.108918","name":"Sensor information","info":"Information about the sensors connected to the device.","x":473.25,"y":112.75,"wires":[]},{"id":"271f5f72.f53db","type":"link in","z":"c957b689.314308","name":"","links":["d530dfeb.78008"],"x":295,"y":300,"wires":[["8b034ede.15c1c"]]},{"id":"9665cfdf.df7a4","type":"link out","z":"4e0fe9fe.226978","name":"","links":["a7b8a22d.dd1b9","374f760d.ecb6fa","9c970e19.248d8","c4802ade.eb8dd8","63495785.430f98","2572f396.de377c","ae6c216e.dca24","f581d328.ffb6f","ae56df4.8c5402","7e859cfa.881e94","895a8f67.f194e","13639f5b.d85131","32e56d04.35ebc2"],"x":1215,"y":440,"wires":[]},{"id":"a7b8a22d.dd1b9","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":220,"y":837,"wires":[["4b8e0635.8e5788"]]},{"id":"374f760d.ecb6fa","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":205,"y":940,"wires":[["5c635bd4.962c54"]]},{"id":"9c970e19.248d8","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":205,"y":1180,"wires":[["a6fcd4d.cda3028"]]},{"id":"c4802ade.eb8dd8","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":215,"y":1300,"wires":[["d6b6d17f.c6087"]]},{"id":"b63067dc.98add8","type":"comment","z":"4e0fe9fe.226978","name":"Cyclic update","info":"","x":502.5,"y":499,"wires":[]},{"id":"cdb04d7e.32c1c","type":"comment","z":"4e0fe9fe.226978","name":"Manual update","info":"","x":866,"y":282,"wires":[]},{"id":"353fdc9e.4a57b4","type":"comment","z":"4e0fe9fe.226978","name":"Update info","info":"Every time that a value is changed,\nthe list of information displayed is updated.\n\nThere is also the possibility to update it\nmanually with a the dashboard and a cyclic\nupdate when a new value is added.","x":630,"y":60,"wires":[]},{"id":"bfec8e8f.06d9b","type":"ui_text","z":"fc634951.108918","group":"ea971c53.5a62a","order":5,"width":0,"height":0,"name":"","label":"Reboots until FOTA","format":"{{value}} min","layout":"row-spread","x":779,"y":1391,"wires":[]},{"id":"44bfb1e.2d8c95","type":"change","z":"fc634951.108918","name":"Extract dreboots until fota","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.header.Board.conf.reboots_fota","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":1390,"wires":[["bfec8e8f.06d9b"]]},{"id":"b308c811.acb7d8","type":"ui_date_picker","z":"4e0fe9fe.226978","name":"","label":"Min date","group":"5222e930.de6558","order":6,"width":0,"height":0,"passthru":true,"topic":"/mindate","x":204.5,"y":587,"wires":[["3f9b6712.19c358"]]},{"id":"59bcddde.a5add4","type":"ui_date_picker","z":"4e0fe9fe.226978","name":"","label":"Max date","group":"5222e930.de6558","order":7,"width":0,"height":0,"passthru":true,"topic":"/maxdate","x":207.5,"y":653,"wires":[["3f9b6712.19c358"]]},{"id":"ee8b4e08.8fd1c","type":"ui_switch","z":"4e0fe9fe.226978","name":"","label":"Time sort mode (frame/date selector)","tooltip":"","group":"5222e930.de6558","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":720,"wires":[["45584b29.4abd14"]]},{"id":"3f9b6712.19c358","type":"function","z":"4e0fe9fe.226978","name":"SetTimeFrame","func":"global.set('mindate',0);\nglobal.set('maxdate',1916344800000 );\nmsg.payload = global.get('sortMode')\nif(msg.topic === \"/mindate\"){\n    global.set('mindate',msg.payload);\n} else if (msg.topic === \"/maxdate\"){\n    global.set('maxdate',msg.payload);\n}\n\nif (global.get('sortMode') === 1){\n    global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('mindate'),$lte:global.get('maxdate')}})\n}\nreturn {};","outputs":1,"noerr":0,"x":464,"y":616,"wires":[["21262c0a.16ba44"]]},{"id":"45584b29.4abd14","type":"function","z":"4e0fe9fe.226978","name":"SetSortMode","func":"if (msg.payload === false) {\n  global.set('sortMode',0);\n  global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('frame')}})\n} else if (msg.payload === true) {\n  global.set('sortMode',1);\n  global.set('msgSortTime',{\"header.Board.data.timestamp\":{$gte:global.get('mindate'),$lte:global.get('maxdate')}})\n}\n\nreturn {};","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["21262c0a.16ba44"]]},{"id":"a749afbb.6e343","type":"ui_chart","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":8,"width":0,"height":0,"label":"Light chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":260,"wires":[[],[]]},{"id":"b16cb8a7.48ed68","type":"function","z":"fc634951.108918","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":940,"y":260,"wires":[["a749afbb.6e343"]]},{"id":"19a6101f.ec726","type":"function","z":"fc634951.108918","name":"Error filter","func":"//If the value of the message is -999, \n//don't display it on the chart.\nif(msg.payload !== -999){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":960,"y":600,"wires":[["d17e94c.ad13368"]]},{"id":"d17e94c.ad13368","type":"ui_chart","z":"fc634951.108918","name":"","group":"21720abd.1793e6","order":9,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#804000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1140,"y":600,"wires":[[],[]]},{"id":"3135544b.d8192c","type":"function","z":"4e0fe9fe.226978","name":"InitGlobalVariables","func":"global.set('mindate',0);\nglobal.set('maxdate',1916344800000 );\nglobal.set('frame',0 );\nglobal.set('sortMode',0);","outputs":1,"noerr":0,"x":296,"y":503,"wires":[[]]},{"id":"291e7c2b.509fe4","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":104.5,"y":504,"wires":[["3135544b.d8192c"]]},{"id":"89b8c22.58b524","type":"inject","z":"4e0fe9fe.226978","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":90,"y":720,"wires":[["ee8b4e08.8fd1c"]]},{"id":"4bb0d4d5.1eb75c","type":"http response","z":"3e96c2a6.41508e","name":"","statusCode":"","headers":{"Content-Disposition":"attachment; filename=registros.csv"},"x":710,"y":320,"wires":[]},{"id":"dc06a33e.7fadf","type":"function","z":"3e96c2a6.41508e","name":"Unicode mark","func":"//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(flow.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["4bb0d4d5.1eb75c"]]},{"id":"4b5847ba.919f28","type":"csv","z":"3e96c2a6.41508e","name":"","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"Fecha, timestamp, chip_id, deep_sleep_time, reboots_fota,ap,bssid,ip,rssi,ssid,mqtt_server,DHT11_temperature,DHT11_humidity,DHT11_state,LightSensor_light,LightSensor_state,HL_69_ground_humidity,HL_69_state,DS18B20_ground_temperature,DS18B20_state,Error_code","skip":0,"x":360,"y":319,"wires":[["dc06a33e.7fadf"]]},{"id":"c8e088bf.b36e78","type":"function","z":"3e96c2a6.41508e","name":"Set columns","func":"// recorrer el array en msg.payload\nvar j=0;\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].Fecha=new Date(msg.payload[i].header.Board.data.timestamp).toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n    msg.payload[i].DHT11_temperature= msg.payload[i].body.DHT11.temperature;\n    msg.payload[i].DHT11_humidity= msg.payload[i].body.DHT11.humidity;\n    msg.payload[i].DHT11_state= msg.payload[i].body.DHT11.state;\n    msg.payload[i].LightSensor_light= msg.payload[i].body.LightSensor.light;\n    msg.payload[i].LightSensor_state= msg.payload[i].body.LightSensor.state;\n    msg.payload[i].HL_69_ground_humidity= msg.payload[i].body.HL_69.ground_humidity;\n    msg.payload[i].HL_69_state= msg.payload[i].body.HL_69.state;\n    msg.payload[i].DS18B20_ground_temperature= msg.payload[i].body.DS18B20.ground_temperature;\n    msg.payload[i].DS18B20_state= msg.payload[i].body.DS18B20.state;\n    msg.payload[i].Error_code= msg.payload[i].body.Error_Code;\n    msg.payload[i].timestamp= msg.payload[i].header.Board.data.timestamp;\n    msg.payload[i].chip_id= msg.payload[i].header.Board.data.chip_id;\n    msg.payload[i].deep_sleep_time= msg.payload[i].header.Board.conf.deep_sleep_time;\n    msg.payload[i].reboots_fota= msg.payload[i].header.Board.conf.reboots_fota;\n    msg.payload[i].ap= msg.payload[i].header.WifiModule.data.ap;\n    msg.payload[i].bssid= msg.payload[i].header.WifiModule.data.bssid;\n    msg.payload[i].ip= msg.payload[i].header.WifiModule.data.ip;\n    msg.payload[i].rssi= msg.payload[i].header.WifiModule.data.rssi;\n    msg.payload[i].ssid= msg.payload[i].header.WifiModule.conf.ssid;\n    msg.payload[i].mqtt_server= msg.payload[i].header.WifiModule.conf.mqtt_server;\n   }\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":319,"wires":[["4b5847ba.919f28"]]},{"id":"7a9979f2.c954b8","type":"function","z":"3e96c2a6.41508e","name":"limita fechas","func":"msg.payload = global.get('msgSortTime')\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":229,"wires":[["201dffb8.4da0d"]]},{"id":"bcb10c1d.d497d","type":"http in","z":"3e96c2a6.41508e","name":"","url":"/registros","method":"get","upload":false,"swaggerDoc":"","x":135,"y":230,"wires":[["7a9979f2.c954b8"]]},{"id":"471a5103.1d755","type":"ui_template","z":"3e96c2a6.41508e","group":"5222e930.de6558","name":"Download","order":8,"width":"0","height":"0","format":"<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":160,"wires":[[]]},{"id":"201dffb8.4da0d","type":"mongodb in","z":"3e96c2a6.41508e","mongodb":"afb9672f.6b30b8","name":"","collection":"Sensors","operation":"find","x":594,"y":229,"wires":[["c8e088bf.b36e78"]]},{"id":"8624f5c2.c0acf8","type":"ui_dropdown","z":"b4b4d838.342718","name":"","label":"Time configuration mode","tooltip":"","place":"Mode","group":"ed56fb2c.595bd8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Check online time","value":"2","type":"str"},{"label":"NTP Server","value":"3","type":"str"},{"label":"Manual time","value":"1","type":"str"}],"payload":"","topic":"","x":618,"y":340,"wires":[["97e0e264.1b957"]]},{"id":"97e0e264.1b957","type":"change","z":"b4b4d838.342718","name":"","rules":[{"t":"set","p":"timeCheckMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":340,"wires":[["b57b883c.416e88"]]},{"id":"af26497e.1585e8","type":"function","z":"b4b4d838.342718","name":"Add time check mode","func":"\nmsg.payload = global.get('timeCheckMode') + ';' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":956,"y":418,"wires":[["cbc8e163.bc9ff"]]},{"id":"40e9c6f1.1df978","type":"function","z":"b4b4d838.342718","name":"Add time check mode","func":"\nmsg.payload = global.get('timeCheckMode') + ';' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["50681558.eb8bcc"]]},{"id":"28dab98f.01a926","type":"ui_text_input","z":"b4b4d838.342718","name":"","label":"NTP Server","tooltip":"","group":"ed56fb2c.595bd8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":510,"y":700,"wires":[["ef7c3155.2077"]]},{"id":"d3abb777.5e4c78","type":"inject","z":"b4b4d838.342718","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":378,"y":340,"wires":[["8624f5c2.c0acf8"]]},{"id":"c6dd4b53.6fe7d8","type":"function","z":"4e0fe9fe.226978","name":"Generar HL69","func":"var arraytemp=[];\nvar arrayhum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arrayhum.push({x:msg.payload[i].header.Board.data.timestamp ,y: msg.payload[i].body.HL_69.ground_humidity});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Humedad\"],\n        \"data\":[arrayhum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":440,"y":1020,"wires":[["67c7603c.3f749"]]},{"id":"67c7603c.3f749","type":"ui_chart","z":"4e0fe9fe.226978","name":"","group":"5222e930.de6558","order":17,"width":"0","height":"0","label":"Histórico HL69","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":1020,"wires":[[],[]]},{"id":"63495785.430f98","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":205,"y":1020,"wires":[["c6dd4b53.6fe7d8"]]},{"id":"cbf87819.4dd6f8","type":"function","z":"4e0fe9fe.226978","name":"Generar DS18B20 ","func":"var arraytemp=[];\nvar arrayhum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraytemp.push({x:msg.payload[i].header.Board.data.timestamp ,y: msg.payload[i].body.DS18B20.ground_temperature});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Temperatura\"],\n        \"data\":[arraytemp],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":450,"y":1100,"wires":[["d2d1d2e3.5546b"]]},{"id":"d2d1d2e3.5546b","type":"ui_chart","z":"4e0fe9fe.226978","name":"","group":"5222e930.de6558","order":21,"width":"0","height":"0","label":"Histórico DS18B20","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740,"y":1100,"wires":[[],[]]},{"id":"ae6c216e.dca24","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":205,"y":1100,"wires":[["cbf87819.4dd6f8"]]},{"id":"9c7f578d.2b9048","type":"function","z":"4e0fe9fe.226978","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.DHT11.humidity;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":460,"y":1440,"wires":[["b1145b13.d72dc8","2d2f3601.5b28ca","4cd449a2.9200f8"]]},{"id":"b1145b13.d72dc8","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":14,"width":"0","height":"0","name":"","label":"Humedad DHT11 Min","format":"{{msg.payload.min}}","layout":"row-spread","x":760,"y":1400,"wires":[]},{"id":"2d2f3601.5b28ca","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":15,"width":"0","height":"0","name":"","label":"Humedad DHT11 Max","format":"{{msg.payload.max}}","layout":"row-spread","x":760,"y":1440,"wires":[]},{"id":"4cd449a2.9200f8","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":16,"width":"0","height":"0","name":"","label":"Humedad DHT11 Med","format":"{{msg.payload.med}}","layout":"row-spread","x":760,"y":1480,"wires":[]},{"id":"f581d328.ffb6f","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":215,"y":1440,"wires":[["9c7f578d.2b9048"]]},{"id":"1797fc4e.2afa64","type":"function","z":"4e0fe9fe.226978","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.DS18B20.ground_temperature;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":1180,"y":1300,"wires":[["9c7ea949.831528","e29b70d3.02249","d87c954d.5a6a98"]]},{"id":"9c7ea949.831528","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":22,"width":"0","height":"0","name":"","label":"Temperatura DS18B20 Min","format":"{{msg.payload.min}}","layout":"row-spread","x":1500,"y":1260,"wires":[]},{"id":"e29b70d3.02249","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":23,"width":"0","height":"0","name":"","label":"Temperatura DS18B20 Max","format":"{{msg.payload.max}}","layout":"row-spread","x":1500,"y":1300,"wires":[]},{"id":"d87c954d.5a6a98","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":24,"width":"0","height":"0","name":"","label":"Temperaura DS18B20 Med","format":"{{msg.payload.med}}","layout":"row-spread","x":1494,"y":1347,"wires":[]},{"id":"895a8f67.f194e","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":935,"y":1300,"wires":[["1797fc4e.2afa64"]]},{"id":"9ac74198.281ed","type":"function","z":"4e0fe9fe.226978","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.HL_69.ground_humidity;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":1180,"y":1440,"wires":[["c31b2da1.4aba4","287886e4.21138a","966e9cfa.84156"]]},{"id":"c31b2da1.4aba4","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":18,"width":"0","height":"0","name":"","label":"Humedad HL_69 Min","format":"{{msg.payload.min}}","layout":"row-spread","x":1480,"y":1400,"wires":[]},{"id":"287886e4.21138a","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":19,"width":"0","height":"0","name":"","label":"Humedad HL_69 Max","format":"{{msg.payload.max}}","layout":"row-spread","x":1480,"y":1440,"wires":[]},{"id":"966e9cfa.84156","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":20,"width":"0","height":"0","name":"","label":"Humedad HL_69 Med","format":"{{msg.payload.med}}","layout":"row-spread","x":1480,"y":1480,"wires":[]},{"id":"13639f5b.d85131","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":935,"y":1440,"wires":[["9ac74198.281ed"]]},{"id":"b61e6b99.79fff8","type":"function","z":"4e0fe9fe.226978","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].body.LightSensor.light;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":1180,"y":1140,"wires":[["8ae75181.35a66","a26d66e.b5bd798","b9778a73.b32468"]]},{"id":"8ae75181.35a66","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":26,"width":"0","height":"0","name":"","label":"Lum Min","format":"{{msg.payload.min}}","layout":"row-spread","x":1440,"y":1100,"wires":[]},{"id":"a26d66e.b5bd798","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":27,"width":"0","height":"0","name":"","label":"Lum Max","format":"{{msg.payload.max}}","layout":"row-spread","x":1440,"y":1140,"wires":[]},{"id":"b9778a73.b32468","type":"ui_text","z":"4e0fe9fe.226978","group":"5222e930.de6558","order":28,"width":"0","height":"0","name":"","label":"Lum Med","format":"{{msg.payload.med}}","layout":"row-spread","x":1440,"y":1180,"wires":[]},{"id":"32e56d04.35ebc2","type":"link in","z":"4e0fe9fe.226978","name":"","links":["9665cfdf.df7a4"],"x":935,"y":1140,"wires":[["b61e6b99.79fff8"]]},{"id":"ef7c3155.2077","type":"switch","z":"b4b4d838.342718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"regex","v":"\\d","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":700,"wires":[["87c25286.7bea5"],["40e9c6f1.1df978"]]},{"id":"87c25286.7bea5","type":"change","z":"b4b4d838.342718","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"cronos.uma.es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["28dab98f.01a926"]]},{"id":"84f404e.0a83af8","type":"link in","z":"b4b4d838.342718","name":"","links":["b57b883c.416e88"],"x":172,"y":440,"wires":[["3183fad3.b08706"]]},{"id":"b57b883c.416e88","type":"link out","z":"b4b4d838.342718","name":"","links":["84f404e.0a83af8","1389e6fc.7e1aa9","48c39657.3ede68"],"x":1115,"y":340,"wires":[]},{"id":"1389e6fc.7e1aa9","type":"link in","z":"b4b4d838.342718","name":"","links":["b57b883c.416e88"],"x":175,"y":580,"wires":[["8d512584.8249a8"]]},{"id":"48c39657.3ede68","type":"link in","z":"b4b4d838.342718","name":"","links":["b57b883c.416e88"],"x":175,"y":700,"wires":[["91b8511a.49af8"]]},{"id":"d6b6dc3.1afa02","type":"function","z":"b4b4d838.342718","name":"Add time check mode","func":"\nmsg.payload = global.get('timeCheckMode') + ';' + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["b2105a5.940d8a8"]]},{"id":"3183fad3.b08706","type":"function","z":"b4b4d838.342718","name":"Enable option","func":"if(msg.payload !== '1'){\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["43562ce4.ad0b24"]]},{"id":"8d512584.8249a8","type":"function","z":"b4b4d838.342718","name":"Enable option","func":"if(msg.payload !== '2'){\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":582,"wires":[["70fe4257.fdffec"]]},{"id":"91b8511a.49af8","type":"function","z":"b4b4d838.342718","name":"Enable option","func":"if(msg.payload !== '3'){\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":700,"wires":[["28dab98f.01a926"]]},{"id":"60f2d2e5.ae7d7c","type":"http response","z":"9e398d74.3cf3f","name":"OTA Response","statusCode":"","headers":{},"x":2772.559814453125,"y":663.1071910858154,"wires":[]},{"id":"4459a952.8b6cf8","type":"http in","z":"9e398d74.3cf3f","name":"OTA Manager","url":"/esp8266-ota","method":"get","upload":false,"swaggerDoc":"","x":88.05558013916016,"y":648.2856712341309,"wires":[["1c4924ec.47662b"]]},{"id":"fb97bbbe.7e0cd8","type":"file","z":"9e398d74.3cf3f","name":"Save md5 Checksum","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1539.9998168945312,"y":845.8333740234375,"wires":[[]]},{"id":"df6f06c1.6328d8","type":"file in","z":"9e398d74.3cf3f","name":"Read firmware","filename":"","format":"","x":842.0833740234375,"y":846.6666870117188,"wires":[["570ab8be.b3f8b8"]]},{"id":"98cc1b78.d09c78","type":"change","z":"9e398d74.3cf3f","name":"Extract filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.files.firmware[0].originalname","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619.375,"y":847.9166870117188,"wires":[["df6f06c1.6328d8"]]},{"id":"da69513b.ba759","type":"change","z":"9e398d74.3cf3f","name":"","rules":[{"t":"change","p":"filename","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1225.625,"y":846.25,"wires":[["fb97bbbe.7e0cd8"]]},{"id":"a45d93ce.4d944","type":"comment","z":"9e398d74.3cf3f","name":"Firmware Upgrade","info":"The system determines which firmware to send based\non the MAC address, version, and MD5 headers in the\nrequest from the ESP8266.\n\nFirstly, it checks if a firmware hash file with \nthe MAC address as the name exists, or else if a \nfirmware file with the version as the name exists.\nIf neither exist then no update is available.\n\nIt then reads the corresponding MD5 hash from the\nhash file and compares to the MD5 hash in the\nrequest.  If they match then the firmware is up\nto date and no update is required.\n\nOtherwise, it sends the contents of the firmware\nbin file and the MD5 hash value.","x":103.5,"y":46,"wires":[]},{"id":"ce60e960.d9c858","type":"comment","z":"9e398d74.3cf3f","name":"Firmware Management","info":"","x":110.5,"y":542,"wires":[]},{"id":"17031efb.659fd1","type":"template","z":"9e398d74.3cf3f","name":"Firmware Manager","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>ESP8266 OTA Firmware Manager</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n        <style>\n            .file-btn-grp {\n                display: none;\n            }\n            body {\n                background-color: #f6f6f6;\n            }\n            .text_holder {\n                display: block;\n                max-width: 100%;\n                word-wrap: break-word;\n                line-height: 30px;\n            }\n            #main {\n                margin-top: 50px;\n                background-color: #ffffff;\n                border-radius: 5px;\n                width: 70%;\n                min-width: 500px;\n                border: 1px solid #545454;\n            }\n            .alert {\n                margin-top: 10px;\n                margin-bottom: 5px;\n            }\n            .link {\n                font-style: italic;\n            }\n            .listentry {\n                display: none;\n                list-style-type: none;\n            }\n        </style>\n\n    </head>\n    <body>\n        <div class=\"container\" id=\"main\">\n            <h1><small>ESP8266 OTA Firmware Manager</small></h1>\n            <h2><small>Upload New Firmware</small></h2>\n\n            <form role =\"form\" id=\"main_input_box\" action=\"esp8266-ota\" method=\"POST\" enctype=\"multipart/form-data\" class=\"form-inline\">\n                <input type=\"file\" accept=\".bin\" class=\"hidden\" id=\"fileUpload\" name=\"firmware\" placeholder=\"firmware.bin\">\n                <div class=\"form-group\">\n                <div class=\"input-group\">\n                    <span class=\"input-group-btn\">\n                        <button id=\"browse\" type=\"button\" class=\"btn btn-primary\">Browse...</button>\n                    </span>\n                    <input id=\"filename\" size=100 readonly=\"\" class=\"form-control\" placeholder=\"Firmware.bin\">\n                    <span class=\"input-group-btn\">\n                        <input type=\"submit\" value=\"Upload\" class=\"btn btn-primary add_button\">\n                    </span>\n                </div>\n                </div>\n            </form>\n\n            <h2><small>Current Firmware</small></h2>\n            <ul class=\"list-group\" id=\"list_of_items\">\n            </ul>\n        </div>\n\n        <div id=\"linkModal\" class=\"modal fade\" role=\"dialog\">\n            <div class=\"modal-dialog\">\n        \n                <!-- Modal content-->\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                        <h4 class=\"modal-title\">Create Symbolic Link</h4>\n                    </div>\n                    <div class=\"modal-body\">\n                        <form class=\"form-horizontal\" id=\"linkForm\" role=\"form\" action=\"#\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkName\">Link:</label> \n                                <div class=\"col-sm-10\">\n                                    <input id=\"linkName\" name=\"linkName\" class=\"form-control\"/>\n                                </div>\n                            </div>\n                            <div class=\"form-group\">\n                                <label class=\"control-label  col-sm-2\" for=\"linkFile\">To:</label> \n                                <div class=\"col-sm-10\">\n                                    <input class=\"form-control\" id=\"linkFile\" name=\"linkFile\"/>\n                                </div>\n                            </div>\n                        </form>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"submit\" class=\"btn btn-success link-create\">Create</button>\n                        <button type=\"button\" class=\"btn btn-warning\" data-dismiss=\"modal\">Cancel</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n        \n        <script>\n\n            var deleteButton = \"<button id='delete' class='btn btn-warning'>Delete</button>\";\n            var linkButton = \"<button id='link' class='btn btn-success'>Link</button>\";\n            var oneButton = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + \"</div>\";\n            var twoButtons = \"<div class='file-btn-grp btn-group pull-right'>\" + deleteButton + linkButton + \"</div>\";\n            \n            function addListEntry(list, filename, linkname) {\n            \n                var entry;\n                \n                if (linkname === undefined) {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span>\" \n                    + filename + \"</span>\" + twoButtons + \"</div></li>\");\n                } else {\n                    entry = $(\"<li class='listentry list-group-item'><div class='text_holder'><span class='link'>\" \n                    + filename + \"</span> <span class='glyphicon glyphicon-arrow-right'></span> \" \n                    + linkname + oneButton + \"</div></li>\");\n                }\n                \n                entry.mouseover(function(){\n                    $(this).find(\".btn-group\").fadeIn(\"fast\");\n                });\n                entry.mouseleave(function(){\n                    $(this).find(\".btn-group\").fadeOut(\"slow\");\n                });\n                \n                entry.on(\"click\", \"button#delete\", function(){\n                    var listItem = this.parentElement.parentElement.parentElement;\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $.ajax({\n                        type: 'DELETE',\n                        data: {\"filename\": file},\n                        success: function(result) {\n                            $(listItem).fadeOut(\"slow\", function(){\n                                listItem.remove();\n                            });\n                        },\n                        error: function(result) {\n                            $(listItem).append(\"<div class='alert alert-danger'>\"\n                                + \"<a href='#' class='close' data-dismiss='alert'\"\n                                + \"aria-label='close'>&times;</a>\"\n                                + result.responseText + \"</div>\");\n                        }\n                    });\n                });\n           \n                entry.on(\"click\", \"button#link\", function(){\n                    var file = this.parentElement.parentElement.childNodes[0].childNodes[0].data;\n                    $(\"#linkName\").val(\"\");\n                    $(\"#linkFile\").prop(\"disabled\", true).val(file);\n                    $(\"#linkName\").parent().removeClass(\"has-error\");\n                    $(\"#linkModal\").modal();\n                    $('#linkModal').on('shown.bs.modal', function () {\n                        $('#linkName').focus();\n                    });\n                });\n                \n                if (list.children().length == 0) {\n                    list.append(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n\n                if (filename < $(\"li:first span:first\", list).text()) {\n                    $(\"li:first\", list).before(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                if (filename > $(\"li:last span:first\", list).text()) {\n                    $(\"li:last\", list).after(entry);\n                    entry.fadeIn(\"slow\");\n                    return;\n                }\n                \n                var count = 0;\n                var $li = $(\"li\", list);\n                do {\n                    var index = parseInt($li.length / 2);\n                    var $compare = $li.eq(index);\n                    var compare = $(\"span:first\",$compare).text();\n                    if (filename === compare) {\n                        break;\n                    }\n                    else if (filename > compare) {\n                        $li = $li.slice(index, $li.length);\n                    } else {\n                        $li = $li.slice(0, index);\n                    }\n                } while ($li.length > 1);\n\n                if (filename === compare) {\n                    $compare.slideUp(\"fast\").slideDown(\"slow\");\n                    return;\n                } else if (filename < compare) { \n                    entry.insertBefore($compare); \n                } else { \n                    entry.insertAfter($compare); \n                }\n                entry.slideDown(\"slow\");\n            }\n            \n            \n            var files = String(\"{{payload.files}}\").split(',');\n            var links = String(\"{{payload.links}}\").split(',');\n            \n            var list_of_items = $(\"#list_of_items\");\n            \n            files.forEach(function(file,index) {\n                if (links[index] == \"\") {\n                    addListEntry(this, file.slice(0,-4));\n                } else {\n                    addListEntry(this, file.slice(0,-4), links[index].slice(0,-4));\n                }\n            },list_of_items);\n           \n           \n            $(\"#linkModal\").on(\"click\", \"button.link-create\", function(event){\n               event.preventDefault();\n               if ($(\"#linkName\").val() == \"\") {\n                    $('#linkName').focus();\n                    $('#linkName').parent().addClass(\"has-error\");\n                    return false;\n               }\n               $(\"#linkFile\").prop(\"disabled\",false);               \n               $.ajax({\n                    type: 'PUT',\n                    data: $(\"#linkForm\").serialize(),\n                    success: function(result) {\n                        $(\"#linkModal\").modal('hide');\n                        addListEntry(list_of_items, $('#linkName').val(), $('#linkFile').val());\n                    },\n                    error: function(result) {\n                        $(\"#linkFile\").prop(\"disabled\", true);\n                        $('#linkName').focus();\n                        $('#linkName').parent().addClass(\"has-error\");\n                        $(linkForm).append(\"<div id='linkError' class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n                });\n            });\n            \n            $(\"#browse\").on('click', function () {\n                fileUpload.click();\n            });\n            \n            $(\"#fileUpload\").on('change', function () {\n                $(\"#filename\").val($(\"#fileUpload\").val().split('/').pop().split('\\\\').pop());\n            });\n            \n            var frm = $(\"#main_input_box\");\n            \n            frm.submit( function( e ) {\n                e.preventDefault();\n                if ($('#fileUpload').val() == \"\") return null;\n                $.ajax( {\n                    url: frm.attr('action'),\n                    type: frm.attr('method'),\n                    data: new FormData( this ),\n                    processData: false,\n                    contentType: false,\n                    success: function(result) {\n                        addListEntry(list_of_items, $('#fileUpload').val().slice(0,-4).split('\\\\').pop());\n                        $('#fileUpload').val('');\n                        $(':text').val('');\n                    },\n                    error: function(result) {\n                        $(\"#main_input_box\").append(\"<div class='alert alert-danger'>\"\n                             + \"<a href='#' class='close' data-dismiss='alert'\"\n                             + \"aria-label='close'>&times;</a>\"\n                             + result.responseText + \"</div>\");\n                    }\n\n                });\n            });\n        </script>\n    </body>\n</html>","output":"str","x":1381.3333740234375,"y":645.8135375976562,"wires":[["60f2d2e5.ae7d7c"]]},{"id":"954cf698.c98e68","type":"http in","z":"9e398d74.3cf3f","name":"OTA Delete","url":"/esp8266-ota","method":"delete","upload":false,"swaggerDoc":"","x":83.125,"y":933.75,"wires":[["304321b7.72b35e"]]},{"id":"2968d357.258b8c","type":"catch","z":"9e398d74.3cf3f","name":"File Error","scope":["afa3537b.609e","c88647e1.8301f8","85abb664.04bb08","9780cc86.95fd7","513dafad.d3e9b"],"x":1870.6665573120117,"y":805.3333158493042,"wires":[["6cb343a1.c1bd9c"]]},{"id":"6cb343a1.c1bd9c","type":"change","z":"9e398d74.3cf3f","name":"Error","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2159,"y":791,"wires":[["60f2d2e5.ae7d7c"]]},{"id":"6d701851.e9e488","type":"change","z":"9e398d74.3cf3f","name":"Change to MD5 filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"bin","fromt":"str","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1879.1666564941406,"y":936.6666269302368,"wires":[["c88647e1.8301f8"]]},{"id":"434b4885.ccdbc8","type":"http in","z":"9e398d74.3cf3f","name":"OTA Link","url":"/esp8266-ota","method":"put","upload":false,"swaggerDoc":"","x":84,"y":1041.5,"wires":[["8395a15b.da376"]]},{"id":"8395a15b.da376","type":"change","z":"9e398d74.3cf3f","name":"Extract filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1385,"y":1044,"wires":[["85abb664.04bb08"]]},{"id":"a6edaccc.bf5d","type":"change","z":"9e398d74.3cf3f","name":"Change to MD5 Filename","rules":[{"t":"change","p":"payload.linkName","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"},{"t":"change","p":"payload.linkFile","pt":"msg","from":"bin$","fromt":"re","to":"md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1908,"y":1045,"wires":[["9780cc86.95fd7"]]},{"id":"304321b7.72b35e","type":"change","z":"9e398d74.3cf3f","name":"Extract filename","rules":[{"t":"change","p":"payload.filename","pt":"msg","from":"$","fromt":"re","to":".bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1382.5,"y":937.5,"wires":[["afa3537b.609e"]]},{"id":"62f4a3c0.ba564c","type":"http response","z":"9e398d74.3cf3f","name":"OTA Response","x":3210.059814453125,"y":366.06256103515625,"wires":[]},{"id":"538bac03.2482b4","type":"file in","z":"9e398d74.3cf3f","name":"Load Firmware","filename":"","format":"","sendError":false,"x":2586.999786376953,"y":399.88400077819824,"wires":[["62f4a3c0.ba564c","cc25c63c.7157f8"]]},{"id":"41049ae1.b61674","type":"change","z":"9e398d74.3cf3f","name":"No Update","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"304","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2956.107421875,"y":258.52682304382324,"wires":[["62f4a3c0.ba564c"]]},{"id":"933f8b03.ce29d8","type":"change","z":"9e398d74.3cf3f","name":"Forbidden","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Forbidden","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2933.999755859375,"y":135.84826469421387,"wires":[["62f4a3c0.ba564c"]]},{"id":"cc25c63c.7157f8","type":"debug","z":"9e398d74.3cf3f","name":"Update sent","active":true,"console":"false","complete":"req.headers.x-esp8266-sta-mac","x":2932.0000610351562,"y":405.955472946167,"wires":[]},{"id":"789b304f.8a0a6","type":"change","z":"9e398d74.3cf3f","name":"Save MD5 Hash","rules":[{"t":"set","p":"headers.x-MD5","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"md5","fromt":"str","to":"bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2375.785789489746,"y":387.0268669128418,"wires":[["538bac03.2482b4"]]},{"id":"f4d7aa80.dd35b8","type":"switch","z":"9e398d74.3cf3f","name":"Update type","property":"req.headers.x-esp8266-mode","propertyType":"msg","rules":[{"t":"eq","v":"spiffs","vt":"str"},{"t":"eq","v":"sketch","vt":"str"}],"checkall":"false","outputs":2,"x":474.5179748535156,"y":228.52685356140137,"wires":[["41049ae1.b61674"],["7ddfb828.ef6248"]]},{"id":"e11c88da.bf8b88","type":"switch","z":"9e398d74.3cf3f","name":"Compare MD5 hash","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"req.headers.x-esp8266-sketch-md5","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":1945.41064453125,"y":342.13403129577637,"wires":[["41049ae1.b61674","62fc0f80.8fe27"],["789b304f.8a0a6","e553708f.0356b"]]},{"id":"71d20ac8.c07284","type":"catch","z":"9e398d74.3cf3f","name":"File error","scope":["538bac03.2482b4","a46d2383.6eaf8"],"x":2628.3572387695312,"y":348.52682304382324,"wires":[["41049ae1.b61674","99c6ef70.c8a63"]]},{"id":"183b2712.d39fc9","type":"switch","z":"9e398d74.3cf3f","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP8266-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":311.21436309814453,"y":134.95541191101074,"wires":[["933f8b03.ce29d8"],["f4d7aa80.dd35b8"]]},{"id":"7ddfb828.ef6248","type":"change","z":"9e398d74.3cf3f","name":"Get MAC hash filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.headers.x-esp8266-sta-mac","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":".md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":703.6428451538086,"y":354.9554100036621,"wires":[["7dbede50.be2e8"]]},{"id":"a46d2383.6eaf8","type":"file in","z":"9e398d74.3cf3f","name":"Load Hash","filename":"","format":"utf8","sendError":false,"x":1734.410629272461,"y":341.7768840789795,"wires":[["e11c88da.bf8b88"]]},{"id":"859aeab8.caa0d8","type":"change","z":"9e398d74.3cf3f","name":"Get Version hash filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"firmware.directory","tot":"flow"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":"req.headers.x-esp8266-version","tot":"msg"},{"t":"change","p":"filename","pt":"msg","from":"$","fromt":"re","to":".md5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1183.7857666015625,"y":459.5982036590576,"wires":[["9d2545f4.63a048","2a1f886c.5cd5e8"]]},{"id":"99c6ef70.c8a63","type":"debug","z":"9e398d74.3cf3f","name":"Firmware file error","active":false,"console":"false","complete":"error","x":2891.2142944335938,"y":347.09826469421387,"wires":[]},{"id":"baca4d4d.71c2c","type":"http in","z":"9e398d74.3cf3f","name":"OTA Request","url":"/esp8266-ota/update","method":"get","upload":false,"swaggerDoc":"","x":75,"y":134.95541191101074,"wires":[["183b2712.d39fc9","e0c740db.694b5"]]},{"id":"87db6f4a.27de4","type":"switch","z":"9e398d74.3cf3f","name":"","property":"req.headers.x-esp8266-version","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":687.4642333984375,"y":466.74108695983887,"wires":[["859aeab8.caa0d8"],["ab96070.46001f8"]]},{"id":"ab96070.46001f8","type":"change","z":"9e398d74.3cf3f","name":"Version in Request","rules":[{"t":"set","p":"req.headers.x-esp8266-version","pt":"msg","to":"req.params.version","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":896.9285278320312,"y":532.8125286102295,"wires":[["859aeab8.caa0d8"]]},{"id":"e0c740db.694b5","type":"debug","z":"9e398d74.3cf3f","name":"Update req","active":true,"console":"false","complete":"true","x":246.2144012451172,"y":235.66967582702637,"wires":[]},{"id":"983c04e4.ec6698","type":"debug","z":"9e398d74.3cf3f","name":"","active":false,"console":"false","complete":"false","x":1291.773494720459,"y":382.1797161102295,"wires":[]},{"id":"87e0f9fe.af2238","type":"debug","z":"9e398d74.3cf3f","name":"","active":false,"console":"false","complete":"false","x":1315.0234375,"y":294.0390625,"wires":[]},{"id":"2a1f886c.5cd5e8","type":"debug","z":"9e398d74.3cf3f","name":"","active":false,"console":"false","complete":"filename","x":1393.0234375,"y":555.0390625,"wires":[]},{"id":"1dde7561.24c58b","type":"debug","z":"9e398d74.3cf3f","name":"","active":true,"console":"false","complete":"filename","x":1770.0234375,"y":524.0390625,"wires":[]},{"id":"c0db7bee.745e88","type":"debug","z":"9e398d74.3cf3f","name":"","active":true,"console":"false","complete":"filename","x":1789.0234375,"y":407.0390625,"wires":[]},{"id":"62fc0f80.8fe27","type":"debug","z":"9e398d74.3cf3f","name":"","active":true,"console":"false","complete":"filename","x":2148.0234375,"y":279.0390625,"wires":[]},{"id":"e553708f.0356b","type":"debug","z":"9e398d74.3cf3f","name":"","active":true,"console":"false","complete":"filename","x":2170.0234375,"y":506.0390625,"wires":[]},{"id":"152d00bd.c845af","type":"config","z":"9e398d74.3cf3f","name":"Firmware Config","properties":[{"p":"firmware.directory","pt":"flow","to":"/home/pi/OTA/","tot":"str"}],"active":true,"x":123.0714111328125,"y":360.1428527832031,"wires":[]},{"id":"390ec4f7.19acfc","type":"httpInMultipart","z":"9e398d74.3cf3f","name":"OTA Upload","url":"/esp8266-ota","method":"post","fields":"[{ \"name\": \"firmware\"}]","swaggerDoc":"","x":79.7857437133789,"y":812.4286108016968,"wires":[["513dafad.d3e9b"]]},{"id":"513dafad.d3e9b","type":"fs-ops-move","z":"9e398d74.3cf3f","name":"Store firmware","sourcePath":"req.files.firmware[0].destination","sourcePathType":"msg","sourceFilename":"req.files.firmware[0].filename","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"req.files.firmware[0].originalname","destFilenameType":"msg","link":false,"x":365.89284896850586,"y":818.3332557678223,"wires":[["98cc1b78.d09c78","60f2d2e5.ae7d7c"]]},{"id":"85abb664.04bb08","type":"fs-ops-move","z":"9e398d74.3cf3f","name":"Link firmware","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":1644.5,"y":1044,"wires":[["a6edaccc.bf5d"]]},{"id":"9780cc86.95fd7","type":"fs-ops-move","z":"9e398d74.3cf3f","name":"Link MD5","sourcePath":"","sourcePathType":"str","sourceFilename":"payload.linkFile","sourceFilenameType":"msg","destPath":"firmware.directory","destPathType":"flow","destFilename":"payload.linkName","destFilenameType":"msg","link":true,"x":2152.5,"y":1044,"wires":[["60f2d2e5.ae7d7c"]]},{"id":"afa3537b.609e","type":"fs-ops-delete","z":"9e398d74.3cf3f","name":"Delete firmware","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":1628.6250457763672,"y":936.5832777023315,"wires":[["6d701851.e9e488"]]},{"id":"c88647e1.8301f8","type":"fs-ops-delete","z":"9e398d74.3cf3f","name":"Delete MD5 Hash","path":"firmware.directory","pathType":"flow","filename":"payload.filename","filenameType":"msg","x":2170.833206176758,"y":936.6665878295898,"wires":[["60f2d2e5.ae7d7c"]]},{"id":"9d2545f4.63a048","type":"fs-ops-access","z":"9e398d74.3cf3f","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1497.2857055664062,"y":459.6696147918701,"wires":[["a46d2383.6eaf8","c0db7bee.745e88"],["41049ae1.b61674","1dde7561.24c58b"]]},{"id":"7dbede50.be2e8","type":"fs-ops-access","z":"9e398d74.3cf3f","name":"Check for MD5 file exists","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":1009.357177734375,"y":349.09826469421387,"wires":[["a46d2383.6eaf8","87e0f9fe.af2238"],["87db6f4a.27de4","983c04e4.ec6698"]]},{"id":"144619ea.a79e16","type":"fs-ops-link","z":"9e398d74.3cf3f","name":"Get Links","path":"firmware.directory","pathType":"flow","filename":"payload.files","filenameType":"msg","link":"payload.links","linkType":"msg","x":776.4999923706055,"y":648.3333110809326,"wires":[["17031efb.659fd1"]]},{"id":"1c4924ec.47662b","type":"fs-ops-dir","z":"9e398d74.3cf3f","name":"Firmware listing","path":"firmware.directory","pathType":"flow","filter":"*.bin","filterType":"str","dir":"payload.files","dirType":"msg","x":493.0355987548828,"y":647.8015928268433,"wires":[["144619ea.a79e16"]]},{"id":"570ab8be.b3f8b8","type":"md5","z":"9e398d74.3cf3f","name":"","fieldToHash":"payload","hashField":"payload","hashFieldType":"msg","x":1031.6668090820312,"y":846.6666259765625,"wires":[["da69513b.ba759"]]}]
