node_red_code/mainFlow.json
[{"id":"cec7d2a7.045258","type":"tab","label":"Tarea 2","disabled":true,"info":""},{"id":"22579122.e53e0e","type":"tab","label":"Tarea 2.1","disabled":true,"info":""},{"id":"ebc59993.22f828","type":"tab","label":"InformationRecieve","disabled":false,"info":"This flow read information from the sensor node.\n\nThe information is recieved in different topics as follows:\n\n- Sensor recieves the information from DH11 and the light sensor.\n- Device recieves the information from the board and the wifi module.\n- Status recieves the retained message with the state of the node (online/offline)."},{"id":"f84b4ccb.962dc","type":"tab","label":"InformationStorage","disabled":false,"info":"This flow storages the info recieved by the\ndifferent topics in mongoDB."},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"","broker":"172.16.53.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afb9672f.6b30b8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ejemplo","name":""},{"id":"9ff1b7a4.59f73","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":35,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65944896.b21948","type":"mqtt-broker","z":"","name":"","broker":"172.16.53.48","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10b2e052.f3f75","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":true,"hidden":true},{"id":"8b71058f.09c5c","type":"ui_group","z":"","name":"Datos","tab":"10b2e052.f3f75","order":1,"disp":true,"width":"6","collapse":false},{"id":"d265fb2b.299198","type":"ui_group","z":"","name":"Sensor","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39f2632.359de1c","type":"ui_group","z":"","name":"Relé","tab":"10b2e052.f3f75","order":4,"disp":true,"width":"6","collapse":false},{"id":"9c9f7bbe.944cc8","type":"ui_group","z":"","name":"Dispositivo","tab":"10b2e052.f3f75","order":3,"disp":true,"width":"6","collapse":false},{"id":"6def83b.5a9cf7c","type":"ui_group","z":"","name":"Gráfica","tab":"10b2e052.f3f75","order":2,"disp":true,"width":"6","collapse":false},{"id":"c99e96e6.5a8ff","type":"ui_group","z":"","name":"MongoDB","tab":"10b2e052.f3f75","disp":true,"width":"6","collapse":false},{"id":"5c5d5e36.17e448","type":"ui_group","z":"","name":"Sensor","tab":"66b51c80.afc764","order":3,"disp":true,"width":"12","collapse":true},{"id":"38fd0f0b.c4cd5","type":"ui_group","z":"","name":"WiFi module","tab":"66b51c80.afc764","order":2,"disp":true,"width":"6","collapse":true},{"id":"348ee47f.b26b7c","type":"ui_group","z":"","name":"Board","tab":"66b51c80.afc764","order":1,"disp":true,"width":"6","collapse":true},{"id":"66b51c80.afc764","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6da920b0.08ae38","type":"mongodb out","z":"cec7d2a7.045258","mongodb":"afb9672f.6b30b8","name":"","collection":"storage","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1027.5,"y":319,"wires":[]},{"id":"d98e9acd.059ce8","type":"change","z":"cec7d2a7.045258","name":"Add timestamp","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":752,"y":318,"wires":[["6da920b0.08ae38"]]},{"id":"d23917d7.2831c8","type":"json","z":"cec7d2a7.045258","name":"","property":"payload","action":"","pretty":false,"x":509,"y":317,"wires":[["d98e9acd.059ce8"]]},{"id":"592d952b.cfccf4","type":"mqtt in","z":"cec7d2a7.045258","name":"","topic":"NodeMCU/tele/SENSOR","qos":"2","broker":"65944896.b21948","x":240,"y":318,"wires":[["d23917d7.2831c8"]]},{"id":"9c173ed9.4f1858","type":"inject","z":"22579122.e53e0e","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.5,"y":173,"wires":[["ae3cb240.b7599"]]},{"id":"9322734d.411e9","type":"ui_button","z":"22579122.e53e0e","name":"","group":"c99e96e6.5a8ff","order":0,"width":0,"height":0,"passthru":false,"label":"Actualizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":83.5,"y":333,"wires":[["f5c97ef0.d11ac8"]]},{"id":"ae3cb240.b7599","type":"mongodb in","z":"22579122.e53e0e","mongodb":"afb9672f.6b30b8","name":"","collection":"storage","operation":"find","x":459.5,"y":201,"wires":[["e5f966c3.4f496","20898a3.99f9ef6","1edb0c29.921ce4","5d9da8ff.a4de78"]]},{"id":"975a013.2cd1f","type":"ui_template","z":"22579122.e53e0e","group":"c99e96e6.5a8ff","name":"","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1107.5,"y":199,"wires":[[]]},{"id":"e5f966c3.4f496","type":"template","z":"22579122.e53e0e","name":"lista en formato html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <h1>Registros: </h1>\n <ul>\n{{#payload}}\n  <li>{{timestamp}} : {{DHT11.Temperature }}ºC, {{DHT11.Humidity}}%, A0:{{ANALOG.A0}}  </li>\n{{/payload}}\n </ul>","output":"str","x":912,"y":199,"wires":[["975a013.2cd1f"]]},{"id":"20898a3.99f9ef6","type":"function","z":"22579122.e53e0e","name":"Generar Datos Temp Hum","func":"var arraytemp=[];\nvar arrayhum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraytemp.push({x:msg.payload[i].timestamp ,y: msg.payload[i].DHT11.Temperature});\n        arrayhum.push({x:msg.payload[i].timestamp ,y: msg.payload[i].DHT11.Humidity});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Temperatura\",\"Humedad\"],\n        \"data\":[arraytemp, arrayhum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":799,"y":296,"wires":[["2dc3b491.e1156c"]]},{"id":"2dc3b491.e1156c","type":"ui_chart","z":"22579122.e53e0e","name":"","group":"c99e96e6.5a8ff","order":2,"width":0,"height":0,"label":"Histórico Temp Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1076.5,"y":295,"wires":[[],[]]},{"id":"1edb0c29.921ce4","type":"function","z":"22579122.e53e0e","name":"Generar Datos Lum","func":"var arraylum=[];\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        arraylum.push({x:msg.payload[i].timestamp ,y: msg.payload[i].ANALOG.A0});\n    }\n}\n\n// consultar formato de entrada al Chart en:\n// https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n\nmsg.payload = [{\n        \"series\":[\"Luminosidad\"],\n        \"data\":[arraylum],\n        \"labels\":[\"\"]\n        }];\n\nreturn msg;  ","outputs":"1","noerr":0,"x":757,"y":374,"wires":[["888ce08.37dd52"]]},{"id":"888ce08.37dd52","type":"ui_chart","z":"22579122.e53e0e","name":"","group":"c99e96e6.5a8ff","order":2,"width":0,"height":0,"label":"Histórico Lum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffff00","#00ffff","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1016,"y":373,"wires":[[],[]]},{"id":"5d9da8ff.a4de78","type":"function","z":"22579122.e53e0e","name":"Generar Min Max Med","func":"var min = 0;\nvar max = 0;\nvar med = 0.0;\n\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\n    for (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n        var data = msg.payload[i].DHT11.Temperature;\n        if (data < min || i === 0) {\n            min = data;\n        }\n        if (data > max || i === 0) {\n            max = data;    \n        }\n        med = med + data;\n    }\n    \n    med = Math.round((med/msg.payload.length))\n}\n\nmsg.payload = {};\nmsg.payload.min = min;\nmsg.payload.max = max;\nmsg.payload.med = med;\n\nreturn msg;","outputs":"1","noerr":0,"x":761,"y":447,"wires":[["df0a2c00.b59018","3d6bf785.9c609","60c71e33.e4c0b"]]},{"id":"df0a2c00.b59018","type":"ui_text","z":"22579122.e53e0e","group":"c99e96e6.5a8ff","order":4,"width":0,"height":0,"name":"","label":"Min","format":"{{msg.payload.min}}","layout":"row-spread","x":974.5,"y":446,"wires":[]},{"id":"3d6bf785.9c609","type":"ui_text","z":"22579122.e53e0e","group":"c99e96e6.5a8ff","order":5,"width":0,"height":0,"name":"","label":"Max","format":"{{msg.payload.max}}","layout":"row-spread","x":970.5,"y":493,"wires":[]},{"id":"60c71e33.e4c0b","type":"ui_text","z":"22579122.e53e0e","group":"c99e96e6.5a8ff","order":6,"width":0,"height":0,"name":"","label":"Med","format":"{{msg.payload.med}}","layout":"row-spread","x":969.5,"y":548,"wires":[]},{"id":"560b0c42.fb3dc4","type":"inject","z":"22579122.e53e0e","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":217,"y":643,"wires":[["9a5955d3.f9068"]]},{"id":"9a5955d3.f9068","type":"mongodb out","z":"22579122.e53e0e","mongodb":"afb9672f.6b30b8","name":"","collection":"storage","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":462,"y":643,"wires":[]},{"id":"f5c97ef0.d11ac8","type":"change","z":"22579122.e53e0e","name":"Limit and Sort","rules":[{"t":"set","p":"limit","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"sort","pt":"msg","to":"{\"timestamp\":-1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":223.5,"y":264,"wires":[["ae3cb240.b7599"]]},{"id":"ef435d1e.0b9b5","type":"mqtt in","z":"ebc59993.22f828","name":"","topic":"GRUPOG/BEST_Arduino/device","qos":"2","broker":"fc5c9554.5f0878","x":170,"y":600,"wires":[["777ec87c.8d0e28","a671515e.6828d8"]]},{"id":"46396fac.baa6a","type":"mqtt in","z":"ebc59993.22f828","name":"","topic":"GRUPOG/BEST_Arduino/status","qos":"2","broker":"fc5c9554.5f0878","x":170,"y":940,"wires":[["189c1ac8.35f54d"]]},{"id":"c720d7b0.3339f8","type":"mqtt in","z":"ebc59993.22f828","name":"","topic":"GRUPOG/BEST_Arduino/sensor","qos":"2","broker":"fc5c9554.5f0878","x":170,"y":240,"wires":[["3705564e.7aa0d2"]]},{"id":"3705564e.7aa0d2","type":"json","z":"ebc59993.22f828","name":"","property":"payload","action":"","pretty":false,"x":408,"y":241,"wires":[["e270b020.d12a98","7d423b16.4e540c","4d07946e.37263c"]]},{"id":"777ec87c.8d0e28","type":"json","z":"ebc59993.22f828","name":"","property":"payload","action":"","pretty":false,"x":404,"y":599,"wires":[["ab572be5.060b78","281d66db.ca9712","52731a13.15cb7c","97378069.e637b8","c4908325.ec04a","bbbef191.0bbc68","b7c1d805.44b75","adf122b0.f10658","7efd7e8d.470df8"]]},{"id":"e270b020.d12a98","type":"change","z":"ebc59993.22f828","name":"Extract temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":648,"y":271,"wires":[["e0cfaad1.736f2","4968db58.7bfdb4"]]},{"id":"ab572be5.060b78","type":"change","z":"ebc59993.22f828","name":"Extract ap","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.data.ap","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":540,"wires":[["93425f12.5bc69"]]},{"id":"7d423b16.4e540c","type":"change","z":"ebc59993.22f828","name":"Extract humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.DHT11.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":231,"wires":[["dd6231e5.086b68","4968db58.7bfdb4"]]},{"id":"adf122b0.f10658","type":"change","z":"ebc59993.22f828","name":"Extract ssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.conf.ssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":760,"wires":[["579a0284.d05594"]]},{"id":"bbbef191.0bbc68","type":"change","z":"ebc59993.22f828","name":"Extract ip","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.data.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["c22111fb.4f1ce"]]},{"id":"b7c1d805.44b75","type":"change","z":"ebc59993.22f828","name":"Extract rssi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.data.rssi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":660,"wires":[["a875a437.79e07"]]},{"id":"c4908325.ec04a","type":"change","z":"ebc59993.22f828","name":"Extract bssid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.data.bssid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["cc2dd4cd.d892b"]]},{"id":"7efd7e8d.470df8","type":"change","z":"ebc59993.22f828","name":"Extract mqtt_server","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.WifiModule.conf.mqtt_server","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":800,"wires":[["9b94fda4.d9a688"]]},{"id":"281d66db.ca9712","type":"change","z":"ebc59993.22f828","name":"Extract uptime","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.Board.data.uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":360,"wires":[["d2ea0d05.9fd638"]]},{"id":"52731a13.15cb7c","type":"change","z":"ebc59993.22f828","name":"Extract chipID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.Board.data.chip_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":400,"wires":[["7e6b1f1.30c526"]]},{"id":"97378069.e637b8","type":"change","z":"ebc59993.22f828","name":"Extract deep_sleep_time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.Board.conf.deep_sleep_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["b55c2963.8051"]]},{"id":"4d07946e.37263c","type":"change","z":"ebc59993.22f828","name":"Extract luminosity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body.LightSensor.light","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"luminosity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":191,"wires":[["951625dd.bda99"]]},{"id":"e0cfaad1.736f2","type":"ui_gauge","z":"ebc59993.22f828","name":"","group":"5c5d5e36.17e448","order":2,"width":"4","height":"4","gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#6cf0ff","#ffac11","#ea1e1e"],"seg1":"","seg2":"","x":1051,"y":321,"wires":[]},{"id":"4968db58.7bfdb4","type":"ui_chart","z":"ebc59993.22f828","name":"","group":"5c5d5e36.17e448","order":5,"width":"6","height":"6","label":"Sensors","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#d20000","#2fe9fd","#ffed0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1084,"y":151,"wires":[[],[]]},{"id":"dd6231e5.086b68","type":"ui_gauge","z":"ebc59993.22f828","name":"","group":"5c5d5e36.17e448","order":3,"width":"4","height":"4","gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d6a956","#438ba3","#114ff0"],"seg1":"","seg2":"","x":1042,"y":278,"wires":[]},{"id":"a684a6d8.bcb058","type":"ui_gauge","z":"ebc59993.22f828","name":"","group":"5c5d5e36.17e448","order":4,"width":"4","height":"4","gtype":"gage","title":"Luminosidad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#808080","#c4c400","#ffff00"],"seg1":"","seg2":"","x":1067,"y":234,"wires":[]},{"id":"951625dd.bda99","type":"function","z":"ebc59993.22f828","name":"To_Percentage","func":"msg.payload = Math.round((msg.payload/1023*100))\nreturn msg;","outputs":1,"noerr":0,"x":833,"y":101,"wires":[["a684a6d8.bcb058","4968db58.7bfdb4"]]},{"id":"579a0284.d05594","type":"ui_text","z":"ebc59993.22f828","group":"38fd0f0b.c4cd5","order":3,"width":0,"height":0,"name":"","label":"SSID","format":"{{msg.payload}}","layout":"row-spread","x":908,"y":768,"wires":[]},{"id":"a875a437.79e07","type":"ui_text","z":"ebc59993.22f828","group":"38fd0f0b.c4cd5","order":4,"width":0,"height":0,"name":"","label":"RSSI","format":"{{msg.payload}} mdB","layout":"row-spread","x":906,"y":669,"wires":[]},{"id":"93425f12.5bc69","type":"ui_text","z":"ebc59993.22f828","group":"38fd0f0b.c4cd5","order":4,"width":0,"height":0,"name":"","label":"AP","format":"{{value}} ","layout":"row-spread","x":897,"y":533,"wires":[]},{"id":"cc2dd4cd.d892b","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"BSSID","format":"{{msg.payload}}","layout":"row-spread","x":902,"y":576,"wires":[]},{"id":"c22111fb.4f1ce","type":"ui_text","z":"ebc59993.22f828","group":"38fd0f0b.c4cd5","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":616,"wires":[]},{"id":"9b94fda4.d9a688","type":"ui_text","z":"ebc59993.22f828","group":"38fd0f0b.c4cd5","order":4,"width":0,"height":0,"name":"","label":"MQTT server","format":"{{msg.payload}}","layout":"row-spread","x":926,"y":830,"wires":[]},{"id":"d2ea0d05.9fd638","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"Uptime","format":"{{value}} ","layout":"row-spread","x":903,"y":375,"wires":[]},{"id":"7e6b1f1.30c526","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"chipID","format":"{{value}}","layout":"row-spread","x":903,"y":418,"wires":[]},{"id":"b55c2963.8051","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"Deep Sleep Time","format":"{{value}} min","layout":"row-spread","x":948,"y":465,"wires":[]},{"id":"a671515e.6828d8","type":"debug","z":"ebc59993.22f828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":407,"y":371,"wires":[]},{"id":"189c1ac8.35f54d","type":"ui_text","z":"ebc59993.22f828","group":"348ee47f.b26b7c","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":573,"y":933,"wires":[]}]
